

<!DOCTYPE html>



<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

</head>

    <body>
        <div>
            <span>  Notificaciones</span>
            <hr />
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-striped" id="notificaciones">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Detalle</th>
                            <th>Fecha</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr>
                            <td>Traer notificaciones de la BD del Arrendatario logueado</td>
                            <td>Customer Support</td>
                            <td>New York</td>
                        </tr>
                    </tbody>


                </table>

            </div>
        </div>
        

        <!--   Datatables-->
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
        <script>
            $('#notificaciones').DataTable({
                responsive: true, autoWidth: false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ notificaciones por página.",
                    "zeroRecords": "No se encontraron coincidencias.",
                    "info": "Mostrando la página _PAGE_ de _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtrado de _MAX_ notificaciones totales)",
                    'search': 'Buscar:',
                    'paginate': {
                        'next': 'Siguiente',
                        'previous':'Anterior'

                    }
                }
                
            });

        </script>

        </div>
    </body>
</html>
