<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
@{
    var usuario = Session["usuarioLogeado"];
    var tipoCuenta = Session["tipoCuenta"];
    var idCuenta = Session["idCuenta"];
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        <span>  Notificaciones</span>
        <hr />
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped" id="notificaciones">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Detalle</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Traer notificaciones de la BD del Arrendatario logueado</td>
                        <td>Customer Support</td>
                        <td>New York</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
        var user = '@usuario';

        $('#notificaciones').DataTable({
            responsive: true, autoWidth: false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ notificaciones por página.",
                "zeroRecords": "No se encontraron coincidencias.",
                "info": "Mostrando la página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay notificaciones",
                "infoFiltered": "(filtrado de _MAX_ notificaciones totales)",
                'search': 'Buscar:',
                'paginate': {
                    'next': 'Siguiente',
                    'previous': 'Anterior'

                }
            }

        });
</script>
