
@{
    ViewBag.Title = "CrearArrendador";
}

<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ArrendaSys</title>
</head>
<body>
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Crear Propietario</h2>
                </div>
            </div>
        </section><!-- End Breadcrumbs -->
        <section id="contact" class="contact">
            <div class="container">             
                <div class="row">
                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">

                            <p>Datos Personales</p>
                            <div class="row">
                                <div class=" col-md-6">
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6 mt-3 mt-md-0">
                                    <label for="lastname">Apellido</label>
                                    <input type="text" class="form-control" name="lastname" id="lastname" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="tipdoc">Tipo Documento</label>
                                    <input type="text" name="tipdoc" class="form-control" id="tipdoc" required>
                                </div>
                                <div class="form-group col-md-6 mt-3 mt-md-0">
                                    <label for="doc">Documento</label>
                                    <input type="text" class="form-control" name="doc" id="doc" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-3">
                                    <label for="tel">Teléfono</label>
                                    <input type="text" name="tel" class="form-control" id="tel" required>
                                </div>

                            </div>

                        </form>
</div>
                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <p>Dirección</p>
                            <div class="row">
                                <div class=" col-md-6">
                                    <label for="calle">Calle</label>
                                    <input type="text" name="calle" class="form-control" id="calle">
                                </div>
                                <div class="form-group col-md-3 mt-3 mt-md-0">
                                    <label for="numero">Número</label>
                                    <input type="text" class="form-control" name="numero" id="numero">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-6">
                                    <label for="barrio">Barrio</label>
                                    <input type="text" name="barrio" class="form-control" id="barrio">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-4">
                                    <label for="prov">Provincia</label>
                                    <input type="text" name="prov" class="form-control" id="prov">
                                </div>
                                <div class=" col-md-4">
                                    <label for="depto">Departamento</label>
                                    <input type="text" name="depto" class="form-control" id="depto">
                                </div>
                                <div class=" col-md-4">
                                    <label for="loca">Localidad</label>
                                    <input type="text" name="loca" class="form-control" id="loca">
                                </div>

                            </div>
                            <p></p>
                            <div class="text-center" onclick="CrearPerfil()"><button type="submit">Crear Perfil</button></div>
                        </form>
</div>

                </div>

            </div>






        </section>
    </main>
    
</body>
</html>
<script>
    function CrearPerfil() {
        var prop = new Object();
        prop.nombrePropietario = $("#name").val();
        prop.apellidoPropietario = $("#lastname").val();
        prop.numeroDocumentoPropietario = $("#doc").val();
        prop.tipoDocumentoProp = $("#tipdoc").val();
        prop.telefonoPropietario = $("#tel").val();

        $.ajax({
            url: '/Arrendador/CrearProp',
            data: prop,
            type: 'POST',
            success: function (data) {
                alert("Propietario creado exitosamente");
            }
        });
    }
</script>

