
@{
    ViewBag.Title = "AgregarInmueble";
}

<style>
    .select2 {
        width: 100%;
    }
</style>

<body>
    <div class="content" style="padding-left:10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b>Agregar Inmueble</b></h4>
                            <p class="card-category">Complete los datos del inmueble.</p>
                        </div>
                        <div class="card-body">
                                <div id="inmueble">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label for="Dirección">Dirección</label>
                                            <br />
                                            <textarea class="form-control" id="direccionInmueble" name="direccionInmueble"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cantAmbInmueble">Cantidad Ambientes</label>
                                            <br />
                                            <textarea class="form-control" id="cantAmbInmueble" name="cantAmbInmueble"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cantHabInmueble">Cantidad Habitaciones</label>
                                            <br />
                                            <textarea class="form-control" id="cantHabInmueble" name="cantHabInmueble"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cantBanInmueble">Cantidad de Baños</label>
                                            <br />
                                            <textarea class="form-control" id="cantBanInmueble" name="cantBanInmueble"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cantMtInmueble">Cantidad Metros Cuadrados</label>
                                            <br />
                                            <textarea class="form-control" id="cantMtInmueble" name="cantMtInmueble"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cantMtInmuebleInt">Cantidad Metros Cuadrados Interior</label>
                                            <br />
                                            <textarea class="form-control" id="cantMtInmuebleInt" name="cantMtInmuebleInt"></textarea>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="descrInmueble">Descripción Inmueble</label>
                                            <br />
                                            <textarea class="form-control" id="descrInmueble" name="descrInmueble" style="width:fit-content;"></textarea>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="mascota">¿Acepta Mascotas?</label>
                                            <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="mascota" id="mascota">
                                                <option value="-1">Seleccione una opción</option>
                                                <option value="1">Sí</option>
                                                <option value="2">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="expensa">¿Incluye Expensas?</label>
                                            <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="expensa" id="expensa">
                                                <option value="-1">Seleccione una opción</option>
                                                <option value="1">Sí</option>
                                                <option value="2">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="cochera">¿Contiene cochera?</label>
                                            <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="cochera" id="cochera">
                                                <option value="-1">Seleccione una opción</option>
                                                <option value="1">Sí</option>
                                                <option value="2">No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <div class=" row">
                                                <div class="col">
                                                    <label> Agregar Archivo </label>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col">
                                                    <img type="image" onclick="agregarMultiplesArchivos()" src="~/assets/img/icono.png" height="50" width="50" />
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col" id="asd123">
                                                    <label id="NombreMultiplesArchivos"> Sin Archivos Seleccionados </label>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col">
                                                    <label id="ArchivosYaCargados"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>                                                             
                                <button type="button" class="btn btn-info pull-center" onclick="GuardarInmueble()">Guardar</button>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div hidden>
        <input type="file" id="inputArchivosInmueble" value="cargarArchivos" onchange="MostrarNombreMultiplesArchivos()" multiple/>
    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/Generales.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

</body>
<script>
    @{ 
        var idPropietario = Session["id"];
    }
    var idPropietario = "@idPropietario";
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
        CrearOEditar();
        ObtenerDepto(-1);
        ObtenerLocalidad(-1);
    });
    var crear = false;
    var idInmueble;
    function GetUrlId() {
        var hash = window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
        return hash;
    }
    function CrearOEditar() {
        idInmueble = GetUrlVars()["id"];
        if (idInmueble == undefined) {
            console.log(idInmueble);
            crear = true;
        } else {
            cargarDatosInmueble(idInmueble);
        }
        
    }
    function cargarDatosInmueble(idInmueble) {
        $.ajax({
            type: 'Get',
            url: '/Api/Inmueble/ObtenerInmueble?idInmueble=' + idInmueble,
            success: function (inmueble) {
                $("#cantAmbInmueble").text(inmueble.cantAmbientes);
                $("#cantHabInmueble").text(inmueble.cantHabitaciones);
                $("#cantBanInmueble").text(inmueble.cantBanos);
                $("#cantMtInmueble").text(inmueble.mtsCuadrados);
                $("#cantMtInmuebleInt").text(inmueble.mtsCuadradosInt);
                $("#descrInmueble").text(inmueble.descripcionInmueble);
                if (inmueble.permiteMascota == true) {
                    $("#mascota").val(1);
                    $("#mascota option[value='1'").attr("selected", true).change();
                } else {
                    $("#mascota").val(2);
                    $("#mascota option[value='2'").attr("selected", true).change();
                }
                if (inmueble.incluyeExpensas == true) {
                    $("#expensa").val(1);
                    $("#expensa option[value='1'").attr("selected", true).change();

                } else {
                    $("#expensa").val(2);
                    $("#expensa option[value='2'").attr("selected", true).change();
                }
                if (inmueble.cochera == true) {
                    $("#cochera").val(1);
                    $("#cochera option[value='1'").attr("selected", true).change();
                } else {
                    $("#cochera").val(2);
                    $("#cochera option[value='2'").attr("selected", true).change();
                }
            }
        });
    }
    function GuardarInmueble() {
        var inmueble = new Object();
        inmueble.cantAmbientes = $("#cantAmbInmueble").val();
        inmueble.cantHabitaciones = $("#cantHabInmueble").val();
        inmueble.cantBanos = $("#cantBanInmueble").val();
        inmueble.mtsCuadrados = $("#cantMtInmueble").val();
        inmueble.mtsCuadradosInt = $("#cantMtInmuebleInt").val();
        inmueble.descripcionInmueble = $("#descrInmueble").val();
        inmueble.permiteMascota = $("#mascota").val() == 1 ? true : false;
        inmueble.incluyeExpensas = $("#expensa").val() == 1 ? true : false;
        inmueble.cochera = $("#cochera").val()==1 ? true:false;
        inmueble.tipoArrendador = 2;
        inmueble.idArrendador = idPropietario;
        if (crear) {
            //No le agrego el idInmueble
            $.ajax({
                type: 'Post',
                url: '/Api/Inmueble/AgregarInmueble',
                data: inmueble,
                success: function (result) {
                    GuardarArchivo(result.idInmueble);
                    location.href = '/InmueblesPropietario/InmueblesPropietarioView';
                }
            });
        } else {
            inmueble.idInmueble = idInmueble;
            //Hago un llamado editando, ver el tema de los archivos, si se cargan todos de vuelta, o los que agrego se suman a los anteriores (seria lo ideal)
            $.ajax({
                type: 'Post',
                url: '/Api/Inmueble/AgregarInmueble',
                data: inmueble,
                success: function (result) {
                    GuardarArchivo(result.idInmueble);
                    location.href = '/InmueblesPropietario/InmueblesPropietarioView';
                }
            });
        }
        
    }
    function Mostrarimagen() {

    }

    function ObtenerDepto(departamento) {
        $.ajax({
            type: 'Get',
            url: '/Api/Departamento/ObtenerDepto',
            success: function (respuesta) {
                listaDepto = respuesta;
                if (departamento == -1) {
                    $('#departamento').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#departamento').append($('<option>').val(-1).text("Seleccione una opción"))
                }

                $.each(respuesta, function (index, result) {
                    debugger;
                    if (departamento == result.idDepartamento) {
                        $('#departamento').append($('<option selected>').val(result.idDepartamento).text(result.nombreDepartamento))

                    }
                    else {
                        $('#departamento').append($('<option>').val(result.idDepartamento).text(result.nombreDepartamento))

                    }
                });
            }
        });
    }
    function ObtenerLocalidad(localidad) {
        $.ajax({
            type: 'Get',
            url: '/Api/Localidad/ObtenerLocalidad',
            success: function (respuesta) {
                listaLocalidad = respuesta;
                if (localidad == -1) {
                    $('#localidad').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#localidad').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta, function (index, result) {
                    debugger;
                    if (localidad == result.idLocalidad) {
                        $('#localidad').append($('<option selected>').val(result.idLocalidad).text(result.nombreLocalidad))
                    }
                    else {
                        $('#localidad').append($('<option>').val(result.idLocalidad).text(result.nombreLocalidad))
                    }
                });
            }
        });
    }


</script>