
@{
    ViewBag.Title = "AgregarInmueble";
}


<style>
    .select2 {
        width: 100%;
    }
</style>

<body>
    <div class="content" style="padding-left:10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b>Agregar Inmueble</b></h4>
                            <p class="card-category">Complete los datos del inmueble.</p>
                        </div>
                        <div class="card-body">

                            <div id="inmueble">
                                <div class="row" style="padding-top:6px">
                                    <div id="alertcalle"></div>
                                    <div id="alertnumero"></div>
                                    <div id="alertcantidadambientes"></div>
                                    <div id="alertbarrio"></div>
                                    <div id="alertpiso"></div>
                                    <div id="alertdepartamento"></div>
                                    <div id="alertcantidadhabitaciones"></div>
                                    <div id="alertcantidadbaños"></div>
                                    <div id="alertcantidadmetros"></div>
                                    <div id="alertcantidadmetrosinternos"></div>
                                    <div id="alertaItem"></div>

                                    <div class="col-md-2">
                                        <label for="provincia">Provincia</label>
                                        <br />
                                        <label for="provincia">Mendoza</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="departamento">Departamento</label>
                                        <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="departamento" id="departamentoid" onchange="ObtenerLocalidad(-1)">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="localidad">Localidad</label>
                                        <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="localidad" id="localidad">
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row" style="padding-top:6px">
                                    <div class="col-md-2">

                                        <label for="calle">Calle</label>
                                        <br />
                                        <textarea class="form-control obligatoria" id="calle" name="calle"></textarea>
                                    </div>
                                    <div class="col-md-2">

                                        <label for="numero">Número</label>
                                        <br />
                                        <textarea class="form-control obligatoria" id="numero" name="número" style=" width:150px"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="barrio">Barrio</label>
                                        <br />
                                        <textarea class="form-control obligatoria" id="barrio" name="barrio"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="piso">Piso</label>
                                        <br />
                                        <textarea class="form-control" id="piso" name="piso"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="departamento">Departamento</label>
                                        <br />
                                        <textarea class="form-control" id="departamento" name="departamento"></textarea>
                                    </div>
                                </div>
                                <br />
                                <div class="row" style="padding-top:6px">

                                    <div class="col-md-2">
                                        <label for="cantAmbInmueble">Cantidad de Ambientes</label>
                                        <br />
                                        <textarea class="form-control obligatoria" id="cantidadambientes" name="cantidad de ambientes" style=" width:150px"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="cantHabInmueble">Cantidad de Habitaciones</label>
                                        <br />
                                        <textarea class="form-control obligatoria" id="cantidadhabitaciones" name="cantidad de habitaciones" style=" width:150px"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="cantBanInmueble">Cantidad de Baños</label>

                                        <textarea class="form-control obligatoria" id="cantidadbaños" name="cantidad de baños" style=" width:150px"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="cantMtInmueble">Cantidad de Metros Cuadrados</label>

                                        <textarea class="form-control obligatoria" id="cantidadmetros" name="cantidad de metros" style=" width:150px"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="cantMtInmuebleInt">Cantidad de Metros Cuadrados Interior</label>
                                        <br />
                                        <textarea class="form-control obligatoria" id="cantidadmetrosinternos" name="cantidad de metros internos" style=" width:150px"></textarea>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="descrInmueble">Descripción del Inmueble</label>
                                        <br />
                                        <textarea class="form-control2" id="descrInmueble" name="descrInmueble" style="width: 803.988636px; height:53.988636px;"></textarea>
                                    </div>
                                    <div class="col-md-2" style="padding-left: 150px;">
                                        <div class=" row">

                                            <div class="col">
                                                <label> Agregar Imágenes </label>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col">
                                                <img type="image" onclick="agregarMultiplesArchivos()" src="~/assets/img/icono.png" style="width:50px;height:37px" />
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col" id="asd123">
                                                <label id="NombreMultiplesArchivos"> Sin Archivos Seleccionados </label>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col">
                                                <label id="ArchivosYaCargados"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="mascota">¿Acepta Mascotas?</label>
                                        <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="mascota" id="mascota">
                                            <option value="-1">Seleccione una opción</option>
                                            <option value="1">Sí</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="expensa">¿Incluye Expensas?</label>
                                        <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="expensa" id="expensa">
                                            <option value="-1">Seleccione una opción</option>
                                            <option value="1">Sí</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="cochera">¿Contiene cochera?</label>
                                        <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="cochera" id="cochera">
                                            <option value="-1">Seleccione una opción</option>
                                            <option value="1">Sí, 1 cochera</option>
                                            <option value="2">Sí, 2 cocheras</option>
                                            <option value="3">Sí, 3 cocheras</option>
                                            <option value="4">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                </div>
                                <br />
                            </div>
                            <button type="button" class="btn btn-info pull-center" onclick="GuardarInmueble()">Guardar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div hidden>
        <input type="file" id="inputArchivosInmueble" value="cargarArchivos" onchange="MostrarNombreMultiplesArchivos()" multiple />
    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/Generales.js"></script>
    
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

</body>
<script>
    @{
        var idPropietario = Session["id"];
        var idCuenta = Session["idCuenta"];
    }
    var idPropietario = parseInt(@idPropietario);
    var idCuenta = parseInt(@idCuenta);
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
        ObtenerDepto(-1);
        CrearOEditar();
               
    });
    var crear = false;
    var idInmueble;
    function GetUrlId() {
        var hash = window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
        return hash;
    }
    function CrearOEditar() {
        idInmueble = GetUrlVars()["id"];
        if (idInmueble == undefined) {
            console.log(idInmueble);
            crear = true;
        } else {
            cargarDatosInmueble(idInmueble);
        }

    }
    function cargarDatosInmueble(idInmueble) {
        $.ajax({
            type: 'Get',
            url: '/Api/Inmueble/ObtenerInmueble?idInmueble=' + idInmueble,
            success: function (inmueble) {
                $("#cantidadambientes").text(inmueble.cantAmbientes);
                $("#cantidadhabitaciones").text(inmueble.cantHabitaciones);
                $("#cantidadbaños").text(inmueble.cantBanos);
                $("#cantidadmetros").text(inmueble.mtsCuadrados);
                $("#cantidadmetrosinternos").text(inmueble.mtsCuadradosInt);
                $("#descrInmueble").text(inmueble.descripcionInmueble);
                $("#departamento").text(inmueble.direccion.idLote);
                $("#piso").text(inmueble.direccion.idManzana);
                $("#barrio").text(inmueble.direccion.nombreBarrio);
                $("#calle").text(inmueble.direccion.nombreCalle);
                $("#numero").text(inmueble.direccion.numeroCalle);
                $("#departamentoid").val(inmueble.direccion.localidad.idDepartamento);
                $("#departamentoid").change();
                ObtenerLocalidad(inmueble.direccion.localidad.idLocalidad);
                if (inmueble.permiteMascota == true) {
                    $("#mascota").val(1);
                    $("#mascota option[value='1'").attr("selected", true).change();
                } else {
                    $("#mascota").val(2);
                    $("#mascota option[value='2'").attr("selected", true).change();
                }
                if (inmueble.incluyeExpensas == true) {
                    $("#expensa").val(1);
                    $("#expensa option[value='1'").attr("selected", true).change();

                } else {
                    $("#expensa").val(2);
                    $("#expensa option[value='2'").attr("selected", true).change();
                }
                if (inmueble.cochera == true) {
                    $("#cochera").val(1);
                    $("#cochera option[value='1'").attr("selected", true).change();
                } else {
                    $("#cochera").val(2);
                    $("#cochera option[value='2'").attr("selected", true).change();
                }


            }
        });
    }

    function GuardarInmueble() {
        if (ValidarDepto() && ValidarLocalidad() ) {
            if (ValidarInmueble() && ValidarChecks()) {
                var inmueble = new Object();
                inmueble.cantAmbientes = $("#cantidadambientes").val();
                inmueble.cantHabitaciones = $("#cantidadhabitaciones").val();
                inmueble.cantBanos = $("#cantidadbaños").val();
                inmueble.mtsCuadrados = $("#cantidadmetros").val();
                inmueble.mtsCuadradosInt = $("#cantidadmetrosinternos").val();
                inmueble.descripcionInmueble = $("#descrInmueble").val();
                inmueble.permiteMascota = $("#mascota").val() == 1 ? true : false;
                inmueble.incluyeExpensas = $("#expensa").val() == 1 ? true : false;
                inmueble.cochera = $("#cochera").val() == 1 ? true : false;

                inmueble.tipoArrendador = 3;
                inmueble.idArrendador = idPropietario;

                var direccion = new Object();
                var localidad = new Object();
                var departamento = new Object();

                localidad.departamento = departamento;
                direccion.localidad = localidad;
                inmueble.direccion = direccion;

                departamento.idDepartamento = $("#departamentoid").val();
                localidad.idLocalidad = $("#localidad").val();
                direccion.nombreCalle = $("#calle").val();
                direccion.numeroCalle = $("#numero").val();
                direccion.nombreBarrio = $("#barrio").val();
                direccion.idlote = $("#departamento").val();
                direccion.idManzana = $("#piso").val();

                if (crear) {
                    //No le agrego el idInmueble
                    $.ajax({
                        type: 'Post',
                        url: '/Api/Inmueble/AgregarInmueble',
                        data: inmueble,
                        success: function (result) {
                            GuardarArchivo(result.idInmueble);
                            location.href = '/InmueblesPropietario/InmueblesPropietarioView';
                        }
                    });
                } else {
                    inmueble.idInmueble = idInmueble;
                    //Hago un llamado editando, ver el tema de los archivos, si se cargan todos de vuelta, o los que agrego se suman a los anteriores (seria lo ideal)
                    $.ajax({
                        type: 'Post',
                        url: '/Api/Inmueble/AgregarInmueble',
                        data: inmueble,
                        success: function (result) {
                            GuardarArchivo(result.idInmueble);
                            location.href = '/InmueblesPropietario/InmueblesPropietarioView';
                        }
                    });
                }
            }
        }
    }
    function Mostrarimagen() {

    }

    function ObtenerDepto(departamento) {
        $.ajax({
            type: 'Get',
            url: '/Api/Departamento/ObtenerDepto',
            async: false,
            success: function (respuesta) {
                listaDepto = respuesta;
                if (departamento == -1) {
                    $('#departamentoid').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#departamentoid').append($('<option>').val(-1).text("Seleccione una opción"))
                }

                $.each(respuesta, function (index, result) {

                    if (departamento == result.idDepartamento) {
                        $('#departamentoid').append($('<option selected>').val(result.idDepartamento).text(result.nombreDepartamento))

                    }
                    else {
                        $('#departamentoid').append($('<option>').val(result.idDepartamento).text(result.nombreDepartamento))

                    }
                });
            }
        });
    }
    function ObtenerLocalidad(localidad) {
        var idDepto = $("#departamentoid").val();
        $("#localidad").empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Localidad/ObtenerLocalidad?idDepto=' + idDepto,
            async: false,
            success: function (respuesta) {
                listaLocalidad = respuesta;
                if (localidad == -1) {
                    $('#localidad').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#localidad').append($('<option>').val(-1).text("Seleccione una opción"))
                }
                $.each(respuesta, function (index, result) {

                    if (localidad == result.idLocalidad) {
                        $('#localidad').append($('<option selected>').val(result.idLocalidad).text(result.nombreLocalidad))
                    }
                    else {
                        $('#localidad').append($('<option>').val(result.idLocalidad).text(result.nombreLocalidad))
                    }
                });
            }
        });
    }
    (function ($){
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function (){
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setselectionRange(this.oldSelectionstart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };
    } (jQuery));

    $("#cantidadmetros").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    $("#cantidadambientes").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    $("#cantidadBaños").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    $("#cantidadmetrosinternos").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    $("#numero").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });
    $("#cantidadhabitaciones").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });

    
    $(".obligatoria").keydown(function () {
        var objetoAlert = $("#alert" + $(this).attr("id").toString());
        objetoAlert.clearQueue();
        objetoAlert.empty();
    });
    function ValidarInmueble() {        
        var respuesta = true;
        $(".obligatoria").each(function (index, result) {
            var alert = "";
            var objeto = $("#" + $(this).attr("id").toString());
            var objetoAlert = $("#alert" + $(this).attr("id").toString());
            if (objeto.val() == "") {
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>Cerrar</i>" +
                    "</button>" +
                    "<span>Debe llenar el campo <b>" + $(this).attr("name").toString()+"</b>.</span>" +
                    "</div>";
                objetoAlert.clearQueue();
                objetoAlert.empty();
                objetoAlert.append(alert)
                respuesta = false;
            }            
        });
        return respuesta;
    }


    $("#departamentoid").keydown(function () {
        $("#alertaItem").clearQueue();
        $("#alertaItem").empty();
    });
    $("#localidad").keydown(function () {
        $("#alertaItem").clearQueue();
        $("#alertaItem").empty();
    });
    $("#expensa").keydown(function () {
        $("#alertaItem").clearQueue();
        $("#alertaItem").empty();
    });
    $("#mascota").keydown(function () {
        $("#alertaItem").clearQueue();
        $("#alertaItem").empty();
    });
    $("#cochera").keydown(function () {
        $("#alertaItem").clearQueue();
        $("#alertaItem").empty();
    });
    function ValidarChecks() {

       
        
        if ($("#mascota").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>Cerrar</i>" +
                "</button>" +
                "<span>Debe especificar si el inmueble permite mascotas</span>" +
                "</div>";

            $('#alertaItem').clearQueue();
            $("#alertaItem").empty();
            $('#alertaItem').append(alert);

            $("#mascota").focus();
            return false;
        }
        if ($("#expensa").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>Cerrar</i>" +
                "</button>" +
                "<span>Debe especificar si el inmueble contiene expensas</span>" +
                "</div>";

            $('#alertaItem').clearQueue();
            $("#alertaItem").empty();
            $('#alertaItem').append(alert);

            $("#expensa").focus();
            return false;
        }
        if ($("#cochera").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>Cerrar</i>" +
                "</button>" +
                "<span>Debe especificar si el inmueble contiene cochera</span>" +
                "</div>";

            $('#alertaItem').clearQueue();
            $("#alertaItem").empty();
            $('#alertaItem').append(alert);

            $("#cochera").focus();
            return false;
        }
        return true;
    }

    function ValidarDepto() {

        if ($("#departamentoid").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>Cerrar</i>" +
                "</button>" +
                "<span>Debe seleccionar <b>Departamento</b>.</span>" +
                "</div>";

            $('#alertaItem').clearQueue();
            $("#alertaItem").empty();
            $('#alertaItem').append(alert);

            $("#departamentoid").focus();
            return false;
        }
        return true;
    }
    function ValidarLocalidad() {

        if ($("#localidad").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>Cerrar</i>" +
                "</button>" +
                "<span>Debe seleccionar <b>Localidad</b>.</span>" +
                "</div>";

            $('#alertaItem').clearQueue();
            $("#alertaItem").empty();
            $('#alertaItem').append(alert);

            $("#localidad").focus();
            return false;
        }
        return true;
    }


</script>

