
@{
    ViewBag.Title = "Index";
}

<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ArrendaSys</title>
    
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:arrendasys@gmail.com">arrendasys@gmail.com</a>
                <i class="bi bi-phone-fill phone-icon"></i> +54 9 2615736302
            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(../../assets/img/slide/mendoza-ciudad.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">¡Bienvenidos/as  a  <span>Arrendasys!</span></h2>
                            <p class="animate__animated animate__fadeInUp">El primer portal que permite realizar reseñas y generar un historial de comportamiento de arrendatarios/as, propietarios/as e inmobiliarias.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(../../assets/img/slide/mendoza-portones.png)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">¡Bienvenidos/as  a  <span>Arrendasys!</span></h2>
                            <p class="animate__animated animate__fadeInUp">El primer portal que permite realizar reseñas y generar un historial de comportamiento de arrendatarios/as, propietarios/as e inmobiliarias.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(../../assets/img/slide/mendoza-town.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">¡Bienvenidos/as  a  <span>Arrendasys!</span></h2>
                            <p class="animate__animated animate__fadeInUp">El primer portal que permite realizar reseñas y generar un historial de comportamiento de arrendatarios/as, propietarios/as e inmobiliarias.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services section-bg">
            <div class="container">

                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">Reseñas</a></h4>
                            <p class="description">Los usuarios podrán ver sus reseñas brindadas por otros usuarios. Como así también consultar las reseñas de los usuarios con los que están interesados en tratar.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title"><a href="">Estadísticas</a></h4>
                            <p class="description">Se generan estadísticas de las reseñas generadas por cada usuario filtrando desde una fecha definida.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                            <h4 class="title"><a href="">Historial de Usuarios</a></h4>
                            <p class="description">Cada usuario registrado en el sistema contará con un historial que respalde el comportamiento que ha tenido en todos sus contratos de alquileres.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Featured Services Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Sobre Nosotros</h2>
                    <p>Arrendasys surge como respuesta a un problema común en la actualidad: Arrendatarios y/o arrendadores no tienen conocimiento de un historial de la parte con quien pueden llegar a acordar un alquiler. Debido a esto, muchas veces se cae en diferentes tipos de prejuicios a la hora de decidir si concretar una operación o no. Por otra parte, el análisis de sólo algunos aspectos como factibilidad económica y estudios de capacidad de pago de garantías, muchas veces no evita una gran cantidad de inconvenientes que se generan posterior a la firma de un contrato de alquiler. Mucha menos información puede percibir la parte que adquiere el derecho a usar el activo. La solución está implementada con el objetivo de enfrentar este conflicto de falta de información sobre aspectos relevantes para ambas partes que se obligan en el contrato, y poder crear y ofrecer un historial con un conjunto de reseñas y estadísticas de las mismas, que reflejen un comportamiento previo que puede haber sido sostenido a lo largo del tiempo.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2">
                        <img src="~/assets/img/arrendasys_logo.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Sistema de calificación de alquileres, historial y valoración en tiempo real.</h3>
                        <p class="fst-italic">
                            ¿Se siente identificado con alguno de estos problemas?
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circled"></i> Problemas frecuentes causados por arrendatarios: Impago en el alquiler, actividades ilícitas o molestas, daños en la vivienda, subarrendamiento de la vivienda, incumplimiento de cláusulas del contrato, etcétera.</li>
                            <li><i class="bi bi-check-circled"></i> Problemas frecuentes causados por propietarios: Incumplimientos en los plazos del contrato, adelanto de alquileres, rescisión anticipada, incumplimiento en clausulas, rescisión total por parte del propietario, etcétera.</li>
                            <li><i class="bi bi-check-circled"></i> Problemas frecuentes causados por inmobiliarias: Dudosa administración de los inmuebles, burocracia y privacidad del papeleo, facturación mediante terceros, realización de informes, depósito de garantía, etcétera.</li>
                        </ul>
                        <p>
                            Arrendasys surge para dar solucion a los mismos. Registrese para aprender más y empezar a generar su propio historial.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3>Estadísticas</h3>
                        <p>Nos encargamos de encuestar a más de 1000 personas para conocer su realidad y experiencias previas vividas en situaciones de alquiler. ¡Los datos arrojados respaldan nuestra actividad!</p>
                    </div>
                </div>
            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row no-gutters">

                    <div class="col-lg-4 col-md-6 content-item">
                        <span>+78%</span>
                        <h4>Alquileres</h4>
                        <p>Más del 78% de las personas encuestadas manifiesta estar o haber estado alquilando un inmueble a lo largo de su vida.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item">
                        <span>+45%</span>
                        <h4>Inconvenientes</h4>
                        <p>Más del 45% de ellas ha sufrido algún tipo de problema durante sus contratos de alquiler.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item">
                        <span>+87%</span>
                        <h4>Experiencia</h4>
                        <p>Más del 87% de las personas encuestadas no pudo dejar asentada ninguna experiencia vivida durante un alquiler.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item">
                        <span>+95%</span>
                        <h4>Reseñas</h4>
                        <p>Más del 95% de las personas encuestadas hace uso habitual de reseñas de productos y/o servicios</p>
</div>

                    <div class="col-lg-4 col-md-6 content-item">
                        <span>+80%</span>
                        <h4>Comprobantes</h4>
                        <p>Más del 80% de las encuestas de servicios comunes no solicitan comprobantes adjuntos.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 content-item">
                        <span>+97%</span>
                        <h4>Historial de comportamiento</h4>
                        <p>Más del 97% de las personas encuestadas considera que sería de gran utilidad un sistema de historial de usuarios en el mercado de alquileres.</p>
                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Servicios</h2>
                    <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                                </svg>
                                <i class="bx bxl-dribbble"></i>
                            </div>
                            <h4><a href="">Reseñas</a></h4>
                            <p>Los usuarios podrán ver sus reseñas brindadas por otros usuarios. Como así también consultar las reseñas de los usuarios con los que están interesados en tratar.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                                </svg>
                                <i class="bx bx-file"></i>
                            </div>
                            <h4><a href="">Estadísticas</a></h4>
                            <p>Se generan estadísticas de las reseñas generadas por cada usuario filtrando desde una fecha definida.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                                </svg>
                                <i class="bx bx-tachometer"></i>
                            </div>
                            <h4><a href="">Historial de Usuarios</a></h4>
                            <p>Cada usuario registrado en el sistema contará con un historial que respalde el comportamiento que ha tenido en todos sus contratos de alquileres.</p>
                        </div>
                    </div>
                    <!--
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon-box iconbox-yellow">
                                <div class="icon">
                                    <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                                    </svg>
                                    <i class="bx bx-layer"></i>
                                </div>
                                <h4><a href="">Nemo Enim</a></h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box iconbox-red">
                                <div class="icon">
                                    <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                                    </svg>
                                    <i class="bx bx-slideshow"></i>
                                </div>
                                <h4><a href="">Dele Cardo</a></h4>
                                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box iconbox-teal">
                                <div class="icon">
                                    <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                                    </svg>
                                    <i class="bx bx-arch"></i>
                                </div>
                                <h4><a href="">Divera Don</a></h4>
                                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                            </div>
                        </div>
    -->
                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Inmuebles</h2>
                    <p>Ofrecemos nuestros servicios en toda la provincia de Mendoza... ¡Con el desafío de expandirnos!</p>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/mendoza.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Ciudad de Mendoza</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/mendoza.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ciudad de Mendoza, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/maipu.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Maipú</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/maipu.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Maipú, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/lujan.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Luján de Cuyo</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/lujan.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Luján de Cuyo, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/lasheras.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Las Heras</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/lasheras.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Las Heras, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/guaymallen.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Guaymallén</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/guaymallen.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Guaymallén, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/godoycruz.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Godoy Cruz</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/godoycruz.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Godoy Cruz, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/tunuyan.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Tunuyán</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/tunuyan.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tunuyán, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/sanmartin.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>San Martín</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/sanmartin.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="San Martín, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/assets/img/portfolio/rivadavia.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Rivadavia</h4>
                                <p>Mendoza</p>
                                <div class="portfolio-links">
                                    <a href="~/assets/img/portfolio/rivadavia.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Rivadavia, Mendoza."><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!--EJEMPLO DE PORTFOLIO

        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/portfolio/mendoza.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Ciudad de Mendoza</h4>
                                    <p>Mendoza</p>
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/portfolio/mendoza.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ciudad de Mendoza, Mendoza."><i class="bx bx-plus"></i></a>
                                        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Equipo de Trabajo</h2>
                    <p>¡Presentamos a los creadores de Arrendasys!</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/team/ucielquiroga.jpg" alt="">
                            <h4>Uciel Quiroga</h4>
                            <span>Fundador</span>
                            <p>
                                Desarrollador del sitio web y encargado de la interfaz de usuarios.
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/team/sebastiansoto.jpg" alt="">
                            <h4>Sebastián Soto</h4>
                            <span>Fundador</span>
                            <p>
                                Es la persona responsable de la gestión de la cartera de inmuebles.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/team/renzoubeira.jpg" alt="">
                            <h4>Renzo Ubeira</h4>
                            <span>Fundador</span>
                            <p>
                                Actualmente se desempeña como administrador de cuentas del sistema.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/team/mauriciocampos.jpg" alt="">
                            <h4>Mauricio Campos</h4>
                            <span>Fundador</span>
                            <p>
                                Responsable de la gestión de reseñas y estadísticas de las cuentas del sistema.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/team/andrescapone.jpg" alt="">
                            <h4>Andrés Capone</h4>
                            <span>Fundador</span>
                            <p>
                                Responsable de los datos y de la seguridad de todos los módulos del sistema.
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contacto</h2>
                    <p>Ante cualquier duda, inconveniente y/o sugerencia, no dude en consultarnos. Un miembro de nuestro equipo de trabajo se contactará en breve con usted.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Ubicación</h4>
                                <p>Mendoza, Argentina</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>arrendasys@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Telefono:</h4>
                                <p>+54 9 2615736302</p>
                            </div>

                            <iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26804.498539529563!2d-68.8760286666593!3d-32.88329794056189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e09aae1cd326f%3A0x53452af7aa58d17a!2sPortones%20del%20Parque%20General%20San%20Mart%C3%ADn!5e0!3m2!1ses-419!2sbg!4v1630166111676!5m2!1ses-419!2sbg" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6 mt-3 mt-md-0">
                                    <label for="name">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name">Asunto</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name">Mensaje</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Su mensaje ha sido enviado. Gracias!</div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>ArrendaSys</h3>
            <p>Sistema de calificación de alquileres, historial y valoración en tiempo real.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>ArrendaSys</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Diseñado por Equipo de Trabajo ArrendaSys - 2021
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>
</html>
<script>
    function Login() {
        window.location.href = '/Login/Login';
    }
    function Creacion() {
        window.location.href = '/Cuenta/CrearCuenta';
    }
</script>