<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.colResize.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.colResize.js"></script>
@{
    var usuario = Session["usuarioLogeado"];
    var tipoCuenta = Session["tipoCuenta"];
    var idCuenta = Session["idCuenta"];
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Publicaciones</title>
</head>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Administrar Publicaciones</div>
                        </div>
                    </div>
                    <div class="col-md12">
                        <div class="col-md12">
                            <br />
                            <button type="button" class="btn btn-info btn-sm" style="float:right; margin:20px;" onclick="mostrarformulario()">
                                <i class="fas fa-plus"></i> Agregar Nueva Publicación
                            </button>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-12" id="formulario" style="display:none">
                        <div class="row" style="padding-top:6px">
                            <div class="col-md-5">
                                <div id="alertprecio"></div>
                                <div id="alertfechaAlta"></div>
                                <div id="alertfechaBaja"></div>
                                <div id="alerttitulo"></div>
                                <div id="alertaItem"></div>
                               
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-md-2">
                                <br />
                                <span>Fecha Alta: </span>
                                <br />
                                <input type="date" class="form-control obligatoria" id="fechaAlta" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <span>Fecha Baja: </span>
                                <br />
                                <input type="date" class="form-control obligatoria" id="fechaBaja" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <span>Precio del Alquiler: </span>
                                <br />
                                <input type="text" class="form-control obligatoria" id="precio" placeholder="Ingrese el precio del Alquiler" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <span>Inmueble: </span>
                                <br />
                                <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="idInmueble" id="idInmueble"></select>
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-md-12">
                                <br />
                                <span>Descripción: </span>
                                <input type="text" class="form-control" id="descripcionPublicacion" placeholder="Ingrese descripción de la publicación" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div>
                                <a href="" class="btn btn-outline-success btn-sm" onclick="GuardarPublicacion()">Publicar</a>
                                <a href="" class="btn btn-outline-danger btn-sm" id="btnvolver">Cancelar</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="formulario2" style="display:none">
                        <div class="row" style="padding-top:6px">
                            <div class="col-md-5">
                                <div id="alertprecio"></div>
                                <div id="alertfechaAlta"></div>
                                <div id="alertfechaBaja"></div>
                                <div id="alerttitulo"></div>
                                <div id="alertaItem"></div>

                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-md-2">
                                <br />
                                <span>Fecha Alta: </span>
                                <br />
                                <input type="date" class="form-control obligatoriaS" id="fechaAlta2" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <span>Fecha Baja: </span>
                                <br />
                                <input type="date" class="form-control obligatoriaS" id="fechaBaja2" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <span>Precio: </span>
                                <br />
                                <input type="text" class="form-control obligatoriaS" id="precio2" placeholder="Ingrese el precio del Alquiler" />
                            </div>

                        </div>
                        <div class="row" style="padding-top:6px">
                            <div class="col-md-12">
                                <br />
                                <span>Descripción: </span>
                                <input type="text" class="form-control" id="descripcionPublicacion2" placeholder="Ingrese descripción de la publicación" />
                            </div>
                        </div>
                        <div class="row" style="padding-top:6px">

                            <div class="col-md-2">
                                <br />
                                <span>Inmueble: </span>
                                <br />
                                <input input readonly type="text" class="form-control obligatoriaS" id="idInmueble2" />
                            </div>
                            <div class="col-md-2">
                                
                                <input input readonly type="text" class="form-control obligatoriaS" id="idPublicacion2" style="visibility:hidden" />
                            </div>
                            <div class="col-md-12">
                                <br />
                                <div>
                                    <button type="button" class="btn btn-success" onclick="EditarPublicacion1()"><i class="fas fa-save"></i> Editar</button>
                                    <button type="button" class="btn btn-danger" id="btnvolver2"><i class=" fa fa-reply"> </i>Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table id="publicacionlista" class="table table-bordered display nowrap" cellspacing="0" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>idPublicacion</th>
                                                    <th>Fecha Alta</th>
                                                    <th>Fecha Baja</th>
                                                    <th>Precio</th>
                                                    <th>Inmueble</th>
                                                    <th>Descripción</th>
                                                    <th>idPublicacionEstado</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />



<script>
    @{
        var idPropietario = Session["id"];
    }
    var idPropietario = "@idPropietario";

    var user = '@usuario';
    var idCuenta = parseInt(@idCuenta);
    var tipoCuenta = parseInt(@tipoCuenta);
    var table;
    (function () {
        CrearTabla();
    })();

    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
        ObtenerInmuebles(-1);

    });

    function CrearTabla() {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#publicacionlista').DataTable({
            "colResize": {
                isEnabled: true,
                hoverClass: 'dt-colresizable-hover',
                hasBoundCheck: true,
                minBoundClass: 'dt-colresizable-bound-min',
                maxBoundClass: 'dt-colresizable-bound-max',
                isResizable: function (column) { return true; },
                onResize: function (column) { },
                onResizeEnd: function (column, columns) { },
                getMinWidthOf: function ($thNode) { }
            },
            "responsive": true,
            "order": [[1, "asc"]],
            "ajax": "/Api/ABMPublicacion/ListarPublicaciones?idCuenta=" + idCuenta + "&tipoCuenta=" + tipoCuenta,
            "lengthMenu": [5, 10, 25, 50],
            "columns": [
                { data: "idPublicacion", "className": "text-left", "visible": false },
                { data: "fechaAltaPublicacion",
                    "render": function(data){
                        let fechaAA = new Date(Date.parse(data));
                        return fechaAA.getDate() + '/' + (fechaAA.getMonth()+1) + '/' + fechaAA.getFullYear()
                     }
                    ,"className": "text-left"},
                { data: "fechaBajaPublicacion",
                    "render": function (data) {
                        let fechaBA = new Date(Date.parse(data));
                        return fechaBA.getDate() + '/' + (fechaBA.getMonth() + 1) + '/' + fechaBA.getFullYear()
                    }

                    ,"className": "text-left"},
                { data: "precioAlquiler", "className": "text-left" },
                { data: "idInmueble", "className": "text-left" },
                { data: "descripcionPublicacion", "className": "text-left" },
                { data: "idPublicacionEstado", "className": "text-left", "visible": false },
                { data: "descripcionEstadoPublicacion", "className": "text-left" },
               {data:"idPublicacion",
                    orderable: false,
                    "render": function () {
                        var botones = "<button class='fa fa-edit' style='cursor:pointer' onclick='EditarPublicacion(this)'></button>  <button class='fas fa-trash-alt' style='cursor:pointer' onclick='EliminarPublicacion(this)'></button>  <button class='fas fa-eye' style='cursor:pointer' onclick='VerPublicacion(this)'></button>";
                            return botones
                    },
                    "width": 35,
                },
                
            ],
            "language": idiomaEspanol
        });

    }

    function EditarPublicacion(btn) {
        $("#formulario").hide();
        $("#formulario2").show();
        var id = table.row($(btn).parents('tr')).data();
        console.log(id.descripcionPublicacion);
        var fechaAltaStr = (id.fechaAltaPublicacion).toString().split('T')[0];
        var fechaBajaStr = (id.fechaBajaPublicacion).toString().split('T')[0];
        $("#descripcionPublicacion2").val(id.descripcionPublicacion);
        $("#fechaAlta2").val(fechaAltaStr);
        $("#fechaBaja2").val(fechaBajaStr);
        $("#precio2").val(id.precioAlquiler);
        $("#idInmueble2").val(id.idInmueble);
        $("#idPublicacion2").val(id.idPublicacion);

    }

    function EditarPublicacion1() {

            publicacion = new Object();
            publicacion.descripcionPublicacion = $("#descripcionPublicacion2").val();
            publicacion.fechaAltaPublicacion = $("#fechaAlta2").val();
            publicacion.fechaBajaPublicacion = $("#fechaBaja2").val();
            publicacion.precioAlquiler = $("#precio2").val();
            publicacion.idPublicacion = $("#idPublicacion2").val();
            $.ajax({
                type: 'Post',
                url: '/Api/ABMPublicacion/EditarPublicacion',
                data: publicacion,
                success: function (result) {
                    window.location.href = "/ABMPublicacion";
                }
            });

    }
    function EliminarPublicacion(btn) {

        var id = table.row($(btn).parents('tr')).data();        
        publicacion1 = new Object();
        publicacion1.idPublicacion = id.idPublicacion;
        publicacion1.idInmueble = id.idInmueble;
        publicacion1.idPublicacionEstado = id.idPublicacionEstado;
        $.ajax({
            type: 'Post',
            url: '/Api/ABMPublicacion/EliminarPublicacion',
            data: publicacion1,
            success: function (result) {
                window.location.href = "/ABMPublicacion";
            }
        });
        //var id = table.row($(btn).parents('tr')).data();
        //console.log(id.idAlquiler);

        //$.ajax({
        //    type: 'Put',
        //    url: '/Api/ABMPublicacion/EliminarPublicacion?idPublicacion=' + id.idPublicacion,
        //    success: function (result) {
        //        location.href = '/ABMPublicacion';
        //    }
        //});

    }


    $("#btnvolver").click(function () {
        $("#formulario").hide();
    });
    $("#btnvolver2").click(function () {
        $("#formulario2").hide();
    });

    function mostrarformulario() {
        $("#formulario").show();
        $("#formulario2").hide();

    }



    function GuardarPublicacion() {
        if (ValidarPublicacion()) {

            if (ValidarInmu()) {
                publicacion = new Object();
                publicacion.descripcionPublicacion = $("#descripcionPublicacion").val();
                publicacion.fechaAltaPublicacion = $("#fechaAlta").val();
                publicacion.fechaBajaPublicacion = $("#fechaBaja").val();
                publicacion.precioAlquiler = $("#precio").val();
                publicacion.idInmueble = $("#idInmueble").val();
                debugger;
                $.ajax({
                    type: 'Post',
                    url: '/Api/ABMPublicacion/CrearPublicacion',
                    data: publicacion,
                    success: function (result) {
                        window.location.href = "/ABMPublicacion";
                    }
                });
            }
        }
    }

    function ObtenerInmuebles(inmueble) {
        $.ajax({
            type: 'Get',
            url: '/Api/Alquiler/ObtenerInmuebles?idPropietario=' + idPropietario,
            async: false,
            success: function (respuesta) {
                listaInmu = respuesta;
                if (inmueble == -1) {
                    $('#idInmueble').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#idInmueble').append($('<option>').val(-1).text("Seleccione una opción"))
                }

                $.each(respuesta, function (index, result) {

                    if (inmueble == result.idInmueble) {
                        $('#idInmueble').append($('<option selected>').val(result.idInmueble).text(result.direccion.nombreCalle).text(result.direccion.numeroCalle))

                    }
                    else {
                        $('#idInmueble').append($('<option>').val(result.idInmueble).text(result.direccion.nombreCalle + " - " + result.direccion.localidad.nombreLocalidad))

                    }
                });
            }
        });
    }


    //VALIDACIONES
    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setselectionRange(this.oldSelectionstart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };
    }(jQuery));

    $("#precioAlquiler").inputFilter(function (value) {
        return /^-?\d*[.,]?\d*$/.test(value);
    });




    $(".obligatoria").keydown(function () {
        var objetoAlert = $("#alert" + $(this).attr("id").toString());
        objetoAlert.clearQueue();
        objetoAlert.empty();
    });
    function ValidarPublicacion() {
        var respuesta = true;
        $(".obligatoria").each(function (index, result) {
            var alert = "";
            var objeto = $("#" + $(this).attr("id").toString());
            var objetoAlert = $("#alert" + $(this).attr("id").toString());
            if (objeto.val() == "") {
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>Cerrar</i>" +
                    "</button>" +
                    "<span>Debe llenar el campo <b>" + $(this).attr("id").toString() + "</b>.</span>" +
                    "</div>";
                objetoAlert.clearQueue();
                objetoAlert.empty();
                objetoAlert.append(alert)
                respuesta = false;
            }
        });
        return respuesta;
    }

    function ValidarInmu() {

        if ($("#idInmueble").val() == -1) {
            var alert = "";
            alert += "<div class='alert alert-danger'>" +
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                "<i class='material-icons'>Cerrar</i>" +
                "</button>" +
                "<span>Debe seleccionar <b>Inmueble</b>.</span>" +
                "</div>";

            $('#alertaItem').clearQueue();
            $("#alertaItem").empty();
            $('#alertaItem').append(alert);

            $("#idInmueble").focus();
            return false;
        }
        return true;
    }



</script>
