
@{
    ViewBag.Title = "VerPublicacion";
}



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alquileres</title>
</head>
<style>
    .select2 {
        width: 100%;
    }


    h1,
    h1 {
        margin-top: 150px
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.7em;
        color: #212529;
    }
</style>

    <div class="modal fade" id="modalinmueble" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width:800px; max-width:1000px;" role="document">
             <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #198754"><b>Reseñas del Inmueble</b></h5>
                     <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container" id="bodyInmueble">
                        @*Aca va todo el cuerpo*@
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Aceptar</a>
                </div>
             </div>
        </div>
    </div>
    <div class="modal fade" id="modalarrendador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width:800px; max-width:1000px;" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #198754"><b>Reseñas del Arrendador</b></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container" id="bodyArrendador">
                        @*Aca va todo el cuerpo*@
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Publicación</div>
                        </div>

                    </div>
                    <section id="gallery">
                        <div class="container" id="publicacion" style="margin-left: 10px">
                            @*Cuerpo de la pagina*@
                        </div>
                        
                        
                    </section>
                    

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
@{
    var idCuenta = Session["idCuenta"];
    
    var tipoCuenta = Session["tipoCuenta"];

}

<script>
    var idPropietario;
    var tipoPropietario;
    var idCuenta = "@idCuenta";
    

    var idPublicacion;
    function GetUrlId() {
        var hash = window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
        return hash;
    }

    idPublicacion = GetUrlVars()["id"];
    var pag = 1;

    (function () {
        $("#publicacion").empty();
        debugger;
        $.ajax({
            type: 'Get',
            url: '/Api/ABMPublicacion/VerPublicacion?idPublicacion=' + idPublicacion,
            success: function (publicacion) {
                var item = "";
                var cont = 0;
                item = item + "<div class='row' style='border-top-width:50px; padding-top:50px; padding-bottom:0px;'>";
                    cont++;
                    item = item + "<div class='col-md-6'>";
                    //item = item + "<div class='cardV3'>";
                    item = item + "<div id='carouselexamplecontrols"+cont.toString()+"' class='carousel slide' data-ride='carousel'>";
                    item = item + "<div class='carousel-inner'>";
                    //Agrego imagenes al carousel
                    var cont2 = 1;

                    $.each(publicacion.listaMultimedia, function (i, archivo) {

                        var ruta = archivo.url.split('\\')[archivo.url.split('\\').length - 1];
                        var activo = "";
                        if (cont2 == 1) {
                            var activo = "active";
                        }
                        item = item + "<div class='carousel-item " + activo + "'><img src='..\\TempFolder\\" + ruta + "' alt='' class='card-img-top' height='500px' width='500px'></div>";
                        cont2++;
                    })
                    //Boton anterior imagen
                    item = item + "<a class='carousel-control-prev' href='#carouselexamplecontrols" + cont + "' role='button' data-slide='prev'>";
                    item = item + "<span class='carousel-control-prev-icon' aria-hidden='true'></span>";
                    item = item + "<span class='sr-only'>Previous</span></a>";
                    //Boton prox imagen
                    item = item + "<a class='carousel-control-next' href='#carouselexamplecontrols" + cont + "' role='button' data-slide='next'>";
                    item = item + "<span class='carousel-control-next-icon' aria-hidden='true'></span>";
                    item = item + "<span class='sr-only'>Next</span></a>";
                    item = item + "</div>";
                item = item + "</div>";
                item = item + "</div>";
                item = item + "<div class='col-md-4' style='margin-left:-1'>";


                item = item + "<h3><b>" + "Dirección: " + "</b></h3>";
                item = item + "<p>" + " " + publicacion.inmueble.direccion.nombreCalle + " " + publicacion.inmueble.direccion.numeroCalle + "-" + publicacion.inmueble.direccion.localidad.nombreLocalidad + "</p>";
                item = item + "<p>" + " " + publicacion.inmueble.direccion.localidad.departamento.nombreDepartamento + "</p>";
                item = item + "<h3><b>" + "Especificaciones: " + "</b></h3>";
                item = item + "<p><i class='fas fa-ruler-combined'></i>" + " " + publicacion.inmueble.mtsCuadrados + " Metros Cuadrados." + "</p>";
                item = item + "<p><i class='fas fa-home'></i>" + " " + publicacion.inmueble.mtsCuadradosInt + "  Metros Interior." + "</p>";
                item = item + "<p><i class='fas fa-bed'></i>" + " Cantidad de Habitaciones: " + publicacion.inmueble.cantHabitaciones + "</p>";
                item = item + "<p><i class='fas fa-shower'></i>" + " Cantidad de Baños: " + publicacion.inmueble.cantBanos + "</p>";
                if (publicacion.inmueble.cochera) {
                    item = item + "<p><i class='fas fa-warehouse'></i>" + "  " + "Tiene Cochera" + "</p>";
                } else {
                    item = item + "<p><i class='fas fa-warehouse'></i>" + "  " + "No tiene Cochera" + "</p>";
                }
                item = item + "<p>" + publicacion.descripcionPublicacion + "</p>";
                item = item + "<h3><b>" + "Precio del Alquiler: " + "</b></h3>";
                item = item + "<p>" + "$" + publicacion.precioAlquiler + "</p>";
                item = item + "</div>";

                if (publicacion.inmueble.tipoArrendador == 3) {
                    tipoPropietario = 3;
                    idPropietario = publicacion.propietario.idPropietario;
                    item = item + "<div class='col-md-2' style='margin-left:-1'>";
                    item = item + "<h3><b>" + "Publicado por: " + "</b></h3>";
                    item = item + "<p>" + publicacion.propietario.nombrePropietario + " " + publicacion.propietario.apellidoPropietario + "</p>";
                    item = item + "<button class='btn  btn-success' style:'margin-top: -45; margin-left:1100px;' onclick='completarReseniasInmueble(" + publicacion.inmueble.idInmueble + ")'>Ver Reseñas Inmueble</button>";
                    item = item + "<button class='btn  btn-success' style:'margin-top: -45; margin-left:1100px;' onclick='ObtenerReseniasArrendatario(" + publicacion.propietario.idPropietario + "," + 3+ ")'>Ver Reseñas Arrendador</button>";

                } else {
                    if (publicacion.inmueble.tipoArrendador == 4) {
                        tipoPropietario = 4;
                        idPropietario = publicacion.inmobiliaria.idInmobiliaria;
                        item = item + "<div class='col-md-2' style='margin-left:-1'>";
                        item = item + "<h3><b>" + "Publicado por: " + "</b></h3>";
                        item = item + "<p>" + publicacion.inmobiliaria.nombreInmobiliaria + "</p>";
                        item = item + "<button class='btn  btn-success' style:'margin-top: -45; margin-left:1100px;' onclick='completarReseniasInmueble(" + publicacion.inmueble.idInmueble + ")'>Ver Reseñas Inmueble</button>";
                        item = item + "<button class='btn  btn-success' style:'margin-top: -45; margin-left:1100px;' onclick='ObtenerReseniasArrendatario(" + publicacion.inmobiliaria.idInmobiliaria +"," + 4+ ")'>Ver Reseñas Arrendador</button>";
                    }
                }
                
                
                
                item = item + "</div>";

                item = item + "</div>";
                
                item = item + "<button class='btn btn-outline-secondary btn-sm' style:'margin-top: -45; margin-left:1100px;' onclick='Volver()'>Volver</button>";



                    item = item + "</div>";

                    $("#publicacion").append(item);
            }
        });
    })()




    function Volver() {
        location.href ='javascript: history.go(-1)';
    }
   
    
    function completarReseniasInmueble(idInmueble) {
        $("#modalinmueble").modal('show');
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/obtenerReseniasInmueble?idInmueble=' + idInmueble + "&pag=" + pag,
            success: function (result) {               
                cantidad = result.cantidad;
                $("#bodyInmueble").empty();
                var item = "";
                
                result.lista.forEach(function (data, index) {
                    item = item + "<div class='row'>";
                    item = item + "<div class='col-md-2'>";
                    item = item + "<span>" + data.nombreAutor + "</span>";
                    item = item + "<span>" + data.fechaAltaReseña.toString().split('T')[0] + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-8'>";
                    item = item + "<span>" + data.descripcionResenia + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-2'style='text-align:center;'><span>Puntuación</span></br><span>" + data.puntuacionResenia + "</span></div>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-12' style='padding-left:0px;'>";
                    item = item + "<hr>";
                    item = item + "</div>";
                    item = item + "</div>";
                });

                $("#bodyInmueble").append(item);
                paginasInmueble();
            }
        });
    }
    function ObtenerReseniasArrendatario(id, tipo) {
        
        
        $("#modalarrendador").modal('show');
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/obtenerReseniasV2?id='+ id +"&tipo="+ tipo + "&pag=" + pag,
            success: function (result) {
                cantidad = result.cantidad;
                $("#bodyArrendador").empty();
                var item = "";
                item = item + "<div class='row'>";
                item = item + "<div class='col-md-2'>";
                if (result.lista.length > 0) {
                    item = item + "<span>" + result.lista[0].nombreArrendador + "</span>";
                }
                item = item + "</div>";
                item = item + "</div>";
                result.lista.forEach(function (data, index) {
                    item = item + "<div class='row'>";
                    item = item + "<div class='col-md-2'>";
                    item = item + "<span>" + data.nombreAutor + "</span>";
                    item = item + "<span>" + data.fechaAltaReseña.toString().split('T')[0] + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-8'>";
                    item = item + "<span>" + data.descripcionResenia + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-2'style='text-align:center;'><span>Puntuación</span></br><span>" + data.puntuacionResenia + "</span></div>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-12' style='padding-left:0px;'>";
                    item = item + "<hr>";
                    item = item + "</div>";
                    item = item + "</div>";
                });

                $("#bodyArrendador").append(item);
                paginas();
            }
        });
    }
    

    function paginas() {
        var html = "<nav aria-label='...'>";
        html = html + "<ul class='pagination'>";
        var cantPag = 1;
        var resto = cantidad % 6;
        if (resto > 0) {
            cantPag = cantidad / 6 + 1;
        } else {
            cantPag = cantidad / 6;
        }

        for (var i = 1; i <= cantPag; i++) {
            if (i == pag) {
                html = html + "<li class='page-item active'><button class='page-link' id='pag" + i + "' onclick=cambiarPag(" + i + ")>" + i + "</button></li>";
            } else {
                html = html + "<li class='page-item'><button class='page-link' id='pag" + i + "' onclick=cambiarPag(" + i + ")>" + i + "</button></li>";
            }
        }
        html = html + "</ul>";
        html = html + "</nav>";
        $("#bodyArrendador").append(html);
    }
    function cambiarPag(num) {
        pag = num;

        ObtenerReseniasArrendatario(idPropietario, tipoPropietario);
    }

    function paginasInmueble() {
        var html = "<nav aria-label='...'>";
        html = html + "<ul class='pagination'>";
        var cantPag = 1;
        var resto = cantidad % 6;
        if (resto > 0) {
            cantPag = cantidad / 6 + 1;
        } else {
            cantPag = cantidad / 6;
        }

        for (var i = 1; i <= cantPag; i++) {
            if (i == pag) {
                html = html + "<li class='page-item active'><button class='page-link' id='pag" + i + "' onclick=cambiarPagInmueble(" + i + ")>" + i + "</button></li>";
            } else {
                html = html + "<li class='page-item'><button class='page-link' id='pag" + i + "' onclick=cambiarPagInmueble(" + i + ")>" + i + "</button></li>";
            }
        }
        html = html + "</ul>";
        html = html + "</nav>";
        $("#bodyInmueble").append(html);
    }
    function cambiarPagInmueble(num) {
        pag = num;
        completarReseniasInmueble();
    }
    


</script>

