<style>
    .select2 {
        width: 100%;
    }

    .arrendatario {
        display: none;
    }

    .propietario {
        display: none;
    }

    .inmobiliaria {
        display: none;
    }

    .redondeado {
        border-radius: 4px;
        border-color: lightgray;
        border-width: 1px;
        width: 100%;
        font-size: 13px;
        padding: 2px;
    }
</style>
<body>
    <div class="content" style="padding-left:10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b>Administrar Perfil</b></h4>
                            <p class="card-category">Complete los datos del perfil.</p>
                        </div>
                        <div class="card-body">
                            <form id="formulario">
                                <div class="row">
                                    <div id="alertfechaNacimiento" name="Fecha de Nacimiento"></div>
                                    <div id="alertnombre" name="Nombre"></div>
                                    <div id="alertapellido" name="Apellido"></div>
                                    <div id="alertdocumento" name="documento"></div>
                                    <div id="alerttelefono" name="telefono"></div>
                                    <div id="alertnombrePropietario" name="nombre"></div>
                                    <div id="alertapellidoPropietario" name="apellido"></div>
                                    <div id="alertdocumentoProp" name="documento"></div>
                                    <div id="alerttelefonoProp" name="telefono"></div>
                                    <div id="alertfechaNacimientoProp" name="fecha de nacimiento"></div>
                                    <div id="alertnombreInmo" name="nombre"></div>
                                    <div id="alertapellidoInmo" name="apellido"></div>
                                    <div id="alertcuitInmo" name="cuit"></div>
                                    <div id="alerttelefonoInmo" name="telefono"></div>
                                    <div id="alertAltaInscripcionInmo" name="fecha de inscripción"></div>

                                    <div class="col-md-2">
                                        <label for="email"><b>Correo Electrónico</b></label>
                                        <br />
                                        <label for="form-control" id="email" name="email"></label>
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-outline-danger btn-sm" id="btnEliminar" onclick="eliminarCuenta()">Eliminar Cuenta</button>
                                    </div>
                                </div>
                                <hr />
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="tipoCuenta"><b>Tipo de Cuenta</b></label>
                                        <select class="select2" style="min-width:2000px" name="tipoCuenta" id="tipoCuenta" onchange="cambioTipoCuenta()">
                                            <option value="-1">Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="arrendatario" class="arrendatario">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label><b>Nombre</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaArr" id="nombre" name="nombre"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Apellido</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaArr" id="apellido" name="apellido"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="documento"><b>Número de Documento</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaArr" id="documento" name="Número de documento"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefono"><b>Número de Teléfono</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaArr" id="telefono" name="Número de teléfono"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Fecha de Nacimiento</b></label>
                                            <br />
                                            <input type="date" id="fechaNacimiento" class="redondeado form-control obligatoriaArr" name="fecha de nacimiento" />
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Imágen de Perfil</b></label>
                                            <br />
                                            <div class=" row">
                                                <div class="col">
                                                    <img type="image" onclick="agregarImagen()" src="~/assets/img/icono-perfil.png" style="width:50px;height:37px" />
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col" id="asd123">
                                                    <label id="NombreMultiplesArchivosArr"> Sin Archivos Seleccionados </label>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col">
                                                    <label id="ArchivosYaCargados"></label>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2">
                    <label><b>Dirección (Calle y Número)</b></label>
                    <br />
                    <textarea class="form-control obligatoriaArr" id="direccionArr" name="nombre"></textarea>
                </div>*@

                                    </div>
                                </div>
                                <div id="propietario" class="propietario">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label><b>Nombre</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaProp" id="nombrePropietario" name="nombre"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Apellido</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaProp" id="apellidoPropietario" name="apellido"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="documento"><b>Número de Documento</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaProp" id="documentoProp" name="Número de documento"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefono"><b>Número de Teléfono</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaProp" id="telefonoProp" name="Número de teléfono"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Fecha de Nacimiento</b></label>
                                            <br />
                                            <input type="date" id="fechaNacimientoProp" class="redondeado form-control obligatoriaProp" name="fecha de nacimiento" />
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Imágen de Perfil</b></label>
                                            <br />
                                            <div class=" row">
                                                <div class="col">
                                                    <img type="image" onclick="agregarImagen()" src="~/assets/img/icono-perfil.png" style="width:50px;height:37px" />
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col" id="asd123">
                                                    <label id="NombreMultiplesArchivosProp"> Sin Archivos Seleccionados </label>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col">
                                                    <label id="ArchivosYaCargados"></label>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2">
                    <label><b>Dirección (Calle y Número)</b></label>
                    <br />
                    <textarea class="form-control obligatoriaProp" id="direccionProp" name="nombre"></textarea>
                </div>*@


                                        <div class="col-md-2" style="padding-left: 150px;">



                                        </div>



                                    </div>
                                </div>
                                <div id="inmobiliaria" class="inmobiliaria">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label><b>Razón Social</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaInmo" id="nombreInmo" name="Razón Social"></textarea>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="cuitInmo"><b>Código Único de Identificación Tributaria (CUIT)</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaInmo" id="cuitInmo" name="Número de CUIT"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefonoInmo"><b>Número de Teléfono</b></label>
                                            <br />
                                            <textarea class="form-control obligatoriaInmo" id="telefonoInmo" name="Número de teléfono"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Alta de Inscripción</b></label>
                                            <br />
                                            <input type="date" id="AltaInscripcionInmo" class="redondeado form-control obligatoriaInmo" name="Fecha alta inscripción" />
                                        </div>
                                        <div class="col-md-2">
                                            <label><b>Imágen de Perfil</b></label>
                                            <br />
                                            <div class=" row">
                                                <div class="col">
                                                    <img type="image" onclick="agregarImagen()" src="~/assets/img/icono-perfil.png" style="width:50px;height:37px" />
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col" id="asd123">
                                                    <label id="NombreMultiplesArchivosInmo"> Sin Archivos Seleccionados </label>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col">
                                                    <label id="ArchivosYaCargados"></label>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2">
                    <label><b>Dirección (Calle y Número)</b></label>
                    <br />
                    <textarea class="form-control obligatoriaInmo" id="direccionInmo" name="nombre"></textarea>
                </div>*@
                                    </div>
                                </div>

                                <button type="button" class="btn btn-info pull-center" onclick="cambiarContrasenia()">Cambiar Contraseña</button>
                                <button type="button" class="btn btn-info pull-center" onclick="GuardarPerfil()">Guardar</button>

                                <!-- CAMBIO DE CONTRASEÑA-->
                                <div id="cambioContra" class="modal-content" style='display:none'>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input" id="divpass">
                                            <label for="pass">Contraseña Actual</label>
                                            <br />
                                            <input type="password" name="passActual" id="passActual">
                                            <span class="spin"></span>
                                            <br />
                                        </div>
                                        <div id="xpassActual"><h6 style="color:darkred">La contraseña actual es incorrecta</h6></div>
                                        <div class="input" id="divpass">
                                            <label for="pass">Ingrese Contraseña Nueva</label>
                                            <br />
                                            <input type="password" name="passNueva" id="passNueva">
                                            <span class="spin"></span>
                                            <br />
                                        </div>
                                        <div id="xpassNueva"><h6 style="color:darkred">La contraseña no cumple los requisitos</h6></div>
                                        <div class="input" id="divpass">
                                            <label for="pass">Confirme Contraseña Nueva</label>
                                            <br />
                                            <input type="password" name="passConfirmada" id="passConfirmada">
                                            <span class="spin"></span>
                                            <br />
                                        </div>
                                        <div id="xpassConfirmada"><h6 style="color:darkred">Las contraseñas deben Coincidir</h6></div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" onclick="ocultarCambioContra()">Cancelar</a>
                                        <a href="" class="btn btn-outline-danger btn-sm" id="btnEliminar" onclick="validarContraseniaActual($('#passActual').val())">Confirmar Cambio</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div hidden>
        <input type="file" id="inputImagen" value="cargarArchivos" onchange="mostrarNombreImagen()" />
    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/Generales.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

    @*MODALES*@
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Cuenta</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Seguro que desea eliminar la cuenta?
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancelar</a>
                    <a href="" class="btn btn-outline-danger btn-sm" id="btnEliminar" onclick="aceptarEliminacion()">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCambiarContrasenia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input" id="divpass">
                        <label for="pass">Contraseña Actual</label>
                        <br />
                        <input type="password" name="passActual" id="passActual">
                        <span class="spin"></span>
                        <br />
                    </div>
                    <div id="xpassActual"><h6>La contraseña actual es incorrecta</h6></div>
                    <div class="input" id="divpass">
                        <label for="pass">Ingrese Contraseña Nueva</label>
                        <br />
                        <input type="password" name="passNueva" id="passNueva">
                        <span class="spin"></span>
                        <br />
                    </div>
                    <div id="xpassNueva"><h6>La contraseña no cumple los requisitos</h6></div>
                    <div class="input" id="divpass">
                        <label for="pass">Confirme Contraseña Nueva</label>
                        <br />
                        <input type="password" name="passConfirmada" id="passConfirmada">
                        <span class="spin"></span>
                        <br />
                    </div>
                    <div id="xpassConfirmada"><h6>Las contraseñas deben Coincidir</h6></div>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Cancelar</a>
                    <a href="" class="btn btn-outline-danger btn-sm" id="btnEliminar" onclick="validarContraseniaActual($('#passActual').val())">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
    </div>
</body>




<script>
    @{
        var idCuenta = Session["idCuenta"];
    }
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
    });
    var idCuenta = parseInt("@idCuenta");
    function GetUrlId() {
        var hash = window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
        return hash;
    }
    
    llenarSelector();
    function llenarSelector() {
        $.ajax({
            type: 'Get',
            url: '/Api/Rol/obtenerRoles',
            success: function (lista) {
                lista.forEach(function(val) {
                    var item = "<option value=" + val.idRol + ">" + val.nombreRol + "</option>";
                    $("#tipoCuenta").append(item);
                });
            }
        })
    }
    completarDatos();

    function eliminarCuenta() {
        $("#modalEliminar").modal('show');

    }
    function aceptarEliminacion() {
        var id = parseInt(idCuenta);
        $.ajax({
            type: 'Post',
            url: '/Api/Cuenta/eliminarCuenta?idCuenta=' + id,
            success: function (result) {
                window.location.href = "/Login/Logout";
            }
        });
    }
    function completarDatos() {
        $.ajax({
            type: 'Get',
            url: '/Api/Cuenta/ObtenerDatosCuenta?idCuenta=' + idCuenta,
            success: function (result) {
                $("#tipoCuenta").val(result.idRol);
                $("#tipoCuenta").change();
                completarDatosCuenta(result);
                if (result.tipoCuenta == 2) {
                    completarDatosArrendatario(result);
                }
                if (result.tipoCuenta == 3) {
                    completarDatosPropietario(result);
                }
                if (result.tipoCuenta == 4) {
                    completarDatosInmobiliaria(result);
                }
            }
        });
    }

    function completarDatosCuenta(cuentaVM) {
        $("#email").text(cuentaVM.email);
    }

    function completarDatosArrendatario(cuentaVM) {

        $("#tipoCuenta").attr("disabled", "disabled");
        $("#nombre").text(cuentaVM.arrendatario.nombreArrendatario);
        $("#apellido").text(cuentaVM.arrendatario.apellidoArrendatario);
        $("#documento").text(cuentaVM.arrendatario.nroDocumento);
        $("#telefono").text(cuentaVM.arrendatario.nroTelefono);
        $("#fechaNacimiento").val(cuentaVM.arrendatario.fechaNacimientoStr);
        $("#direccionArr").text(cuentaVM.direccion);
    }
    function completarDatosPropietario(cuentaVM) {

        $("#tipoCuenta").attr("disabled", "disabled");
        $("#nombrePropietario").text(cuentaVM.propietario.nombrePropietario);
        $("#apellidoPropietario").text(cuentaVM.propietario.apellidoPropietario);
        $("#documentoProp").text(cuentaVM.propietario.numeroDocumentoPropietario);
        $("#telefonoProp").text(cuentaVM.propietario.telefonoPropietario);
        $("#fechaNacimientoProp").val(cuentaVM.propietario.fechaNacimientoStr);
        $("#direccionProp").text(cuentaVM.direccion);
    }
    function completarDatosInmobiliaria(cuentaVM) {

        $("#tipoCuenta").attr("disabled", "disabled");
        $("#nombreInmo").text(cuentaVM.inmobiliaria.nombreInmobiliaria);
        $("#cuitInmo").text(cuentaVM.inmobiliaria.cuitInmobiliaria);
        $("#telefonoInmo").text(cuentaVM.inmobiliaria.telefonoInmobiliariaStr);
        $("#AltaInscripcionInmo").val(cuentaVM.inmobiliaria.altaInscripcionStr);
        $("#direccionInmo").text(cuentaVM.direccion);
    }

    function cambioTipoCuenta() {
        $.ajax({
            type: 'Get',
            url: '/Api/Rol/obtenerRol?idRol=' + $("#tipoCuenta").val(),
            success: function (result) {
                if (result.tipoRol == 2) {
                    $(".arrendatario").show();
                    $(".propietario").hide();
                    $(".inmobiliaria").hide();
                }
                if (result.tipoRol == 3) {
                    $(".propietario").show();
                    $(".arrendatario").hide();
                    $(".inmobiliaria").hide();
                }
                if (result.tipoRol == 4) {
                    $(".inmobiliaria").show();
                    $(".arrendatario").hide();
                    $(".propietario").hide();
                }
            }
        });
        
    }


    function GuardarPerfil() {
        var tipo = 0;
        $.ajax({
            type: 'Get',
            url: '/Api/Cuenta/getTipo?idRol=' + $("#tipoCuenta").val(),
            async:false,
            success: function (result) {
                tipo = result;
            }
        });
        if (tipo == 2) {
            if (ValidarDatos("obligatoriaArr")) {
                var arrendatario = new Object();
                arrendatario.nombreArrendatario = $("#nombre").val();
                arrendatario.apellidoArrendatario = $("#apellido").val();
                arrendatario.fechaNacimiento = $("#fechaNacimiento").val();
                arrendatario.nroDocumento = $("#documento").val();
                arrendatario.nroTelefono = $("#telefono").val();
                arrendatario.direccion = $("#direccionArr").val();
                arrendatario.idCuenta = idCuenta;
                arrendatario.idRol = $("#tipoCuenta").val();
                $.ajax({
                    type: 'Post',
                    url: '/Api/Arrendatario/CrearArrendatario',
                    data: arrendatario,
                    success: function (result) {
                        GuardarImagen(idCuenta);
                        window.location.href = "/Cuenta/CambiarTipoCuenta?tipoCuenta=2&id=" + result + "&idCuenta=" + idCuenta;

                    }
                });

            }
        }

        if (tipo == 3) {
            if (ValidarDatos("obligatoriaProp")) {
                var propietario = new Object();
                propietario.nombrePropietario = $("#nombrePropietario").val();
                propietario.apellidoPropietario = $("#apellidoPropietario").val();
                propietario.fechaNacimiento = $("#fechaNacimientoProp").val();
                propietario.numeroDocumentoPropietario = $("#documentoProp").val();
                propietario.telefonoPropietario = $("#telefonoProp").val();
                propietario.direccion = $("#direccionProp").val();
                propietario.idCuenta = idCuenta;
                propietario.idRol = $("#tipoCuenta").val();
                $.ajax({
                    type: 'Post',
                    url: '/Api/Propietario/CrearPropietario',
                    data: propietario,
                    success: function (result) {
                        GuardarImagen(idCuenta);
                        window.location.href = "/Cuenta/CambiarTipoCuenta?tipoCuenta=3&id=" + result + "&idCuenta=" + idCuenta;
                    }
                });

            }
        }
        if (tipo == 4) {
            if (ValidarDatos("obligatoriaInmo")) {
                var inmobiliaria = new Object();
                inmobiliaria.nombreInmobiliaria = $("#nombreInmo").val();
                inmobiliaria.cuitInmobiliaria = $("#cuitInmo").val();
                inmobiliaria.telefonoInmobiliaria = $("#telefonoInmo").val();
                inmobiliaria.altaInscripcion = $("#AltaInscripcionInmo").val();
                inmobiliaria.direccion = $("#direccionInmo").val();
                inmobiliaria.idCuenta = idCuenta;
                inmobiliaria.idRol = $("#tipoCuenta").val();
                $.ajax({
                    type: 'Post',
                    url: '/Api/Inmobiliaria/CrearInmobiliaria',
                    data: inmobiliaria,
                    success: function (result) {
                        GuardarImagen(idCuenta);
                        window.location.href = "/Cuenta/CambiarTipoCuenta?tipoCuenta=4&id=" + result + "&idCuenta=" + idCuenta;
                    }
                });

            }
        }


    }


    $(".obligatoriaArr").keydown(function () {
        var objetoAlert = $("#alert" + $(this).attr("id").toString());
        objetoAlert.clearQueue();
        objetoAlert.empty();
    });
    $(".obligatoriaProp").keydown(function () {
        var objetoAlert = $("#alert" + $(this).attr("id").toString());
        objetoAlert.clearQueue();
        objetoAlert.empty();
    });
    $(".obligatoriaInmo").keydown(function () {
        var objetoAlert = $("#alert" + $(this).attr("id").toString());
        objetoAlert.clearQueue();
        objetoAlert.empty();
    });

    function ValidarDatos(clase) {
        var respuesta = true;
        $("."+clase).each(function (index, result) {
            var alert = "";
            var objeto = $("#" + $(this).attr("id").toString());
            var objetoAlert = $("#alert" + $(this).attr("id").toString());
            if (objeto.val() == "") {
                alert += "<div class='alert alert-danger'>" +
                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
                    "<i class='material-icons'>Cerrar</i>" +
                    "</button>" +
                    "<span>Debe completar el campo <b>" + $(this).attr("name").toString() + "</b>.</span>" +
                    "</div>";
                objetoAlert.clearQueue();
                objetoAlert.empty();
                objetoAlert.append(alert)
                respuesta = false;
            }
        });
        return respuesta;
    }

    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setselectionRange(this.oldSelectionstart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };
    }(jQuery));

    function cambiarContrasenia() {
        //$("#modalCambiarContrasenia").modal('show');
        $("#cambioContra").show();
        $("#xpassActual").hide();
        $("#xpassNueva").hide();
        $("#xpassConfirmada").hide();

    }

    function validarContraseña(pass) {
        var caract = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/);
        if (caract.test(pass)) {
            $("#xpassNueva").hide();
            return true;
        }
        else {
            $("#xpassNueva").show();
            return false;
        }
    }

    $("#passConfirmada").keyup(function () {
        var pass = $("#passNueva").val();
        var pass1 = $("#passConfirmada").val();
        if (pass != pass1) {
            $("#xpassConfirmada").show();
        } else {
            $("#xpassConfirmada").hide();
        }
        validarContraseña(pass);
    });

    $("#passNueva").keyup(function () {
        var pass = $("#passNueva").val();
        validarContraseña(pass);
    });

    function validarContraseniaActual(passwordActual) {
        $.ajax({
            type: 'Get',
            url: '/Api/Cuenta/ValidarContraseniaActual?idCuenta=' + idCuenta + "&password=" + passwordActual,
            success: function (result) {
                console.log(result);
                if (result == 1) {
                    validarDatos2();
                    $("#modalCambiarContrasenia").modal('show');
                }
                if (result == 0) {
                    alert("Contraseña Actual Incorrecta, intentelo con la contraseña correcta");
                    $("#modalCambiarContrasenia").modal('show');
                    $("#xpassActual").show();
                }
            }
        });
    }

    function validarDatos2() {

        if ($("#passNueva").val() == $("#passConfirmada").val()) {
            if (validarContraseña($("#passNueva").val())) {
                $.ajax({
                    type: 'Get',
                    url: '/Api/Cuenta/cambiarContrasenia?idCuenta=' + idCuenta + "&password=" + $("#passNueva").val(),
                    success: function (result) {
                        console.log(result);
                        alert(result);
                        if (result == 1) {
                            alert("Contraseña actualizada correctamente");
                            window.location.href = '/Perfil/AdministrarPerfil'
                        } else {
                            alert("Hubo un error al actualizar la contraseña, intente nuevamente");
                            window.location.href = '/Perfil/AdministrarPerfil'
                        }
                    }
                });
            } else { alert("Debe ingresar una contraseña válida") }
        } else {
            alert("Las contraseñas deben coincidir")
        }

    }
    function ocultarCambioContra() {
        $("#cambioContra").hide();
        window.location.href = '/Perfil/AdministrarPerfil'
    }
    //$("#cuitInmo").inputFilter(function (value) {
    //    return /\b(20|23|24|27|30|33|34)(\D)?[0-9]{8}(\D)?[0-9]/.test(value);
    //});



</script>


