<style>
    .select2 {
        width: 100%;
    }
    .arrendatario {
        display:none;
    }
    .propietario {
        display: none;
    }
    .inmobiliaria{
        display:none;
    }
    .redondeado {
        border-radius: 4px;
        border-color: lightgray;
        border-width: 1px;
        width: 100%;
        font-size: 13px;
        padding: 2px;
    }
</style>
<body>
    <div class="content" style="padding-left:10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b>Administrar Perfil</b></h4>
                            <p class="card-category">Complete los datos del perfil.</p>
                        </div>
                        <div class="card-body">
                            <form id="formulario">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="tipoCuenta">Tipo de cuenta</label>
                                        <select class="select2" style="min-width:2000px" name="tipoCuenta" id="tipoCuenta" data-placeholder="Seleccione una opción" onchange="cambioTipoCuenta()">
                                            <option></option>
                                            <option value="1">Inmobiliaria</option>
                                            <option value="2">Propietario</option>
                                            <option value="3">Arrendatario</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="arrendatario" class="arrendatario">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label>Nombre</label>
                                            <br />
                                            <input type="text" id="nombreArrendatario" name="nombreArrendatario" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Apellido</label>
                                            <br />
                                            <input type="text" id="apellidoArrendatario" name="apellidoArrendatario" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="documento">Nro Documento</label>
                                            <input type="text" id="documento" name="documento" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefono">Nro Telefono</label>
                                            <input type="text" id="telefono" name="telefono" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Fecha Nacimiento</label>
                                            <br />
                                            <input type="date" id="fechaNacimiento" class="redondeado form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div id="propietario" class="propietario">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label>Nombre</label>
                                            <br />
                                            <input type="text" id="nombrePropietario" name="nombrePropietario" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Apellido</label>
                                            <br />
                                            <input type="text" id="apellidoPropietario" name="apellidoPropietario" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="documentoProp">Nro Documento</label>
                                            <input type="text" id="documentoProp" name="documentoProp" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefonoProp">Nro Telefono</label>
                                            <input type="text" id="telefonoProp" name="telefonoProp" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Fecha Nacimiento</label>
                                            <br />
                                            <input type="date" id="fechaNacimientoProp" class="redondeado form-control" />
                                        </div>

                                    </div>
                                </div>
                                <div id="inmobiliaria" class="inmobiliaria">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label>Razón Social</label>
                                            <br />
                                            <input type="text" id="nombreInmo" name="nombreInmo" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cuitInmo">CUIT</label>
                                            <input type="text" id="cuitInmo" name="cuitInmo" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefonoInmo">Teléfono</label>
                                            <input type="text" id="telefonoInmo" name="telefonoInmo" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Alta Inscripción</label>
                                            <br />
                                            <input type="date" id="AltaInscripcionInmo" class="redondeado form-control" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info pull-center" onclick="GuardarPerfil()">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

</body>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
    });
    var id = GetUrlId();
    function GetUrlId() {
        var hash = window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
        return hash;
    }
    crearoEditar();
    console.log(id);
    function crearoEditar() {
        if (id != undefined) {
            //Edicion


        } else {
            //Creacion
        }
    }

    function cambioTipoCuenta() {
        if ($("#tipoCuenta").val() == 3) {
            $(".arrendatario").show();
            $(".propietario").hide();
            $(".inmobiliaria").hide();
        }
        if ($("#tipoCuenta").val() == 2) {
            $(".propietario").show();
            $(".arrendatario").hide();
            $(".inmobiliaria").hide();
        }
        if ($("#tipoCuenta").val() == 1) {
            $(".inmobiliaria").show();
            $(".arrendatario").hide();
            $(".propietario").hide();
        }
    }


    function GuardarPerfil() {
        if ($("#tipoCuenta").val() == 3) {
            var arrendatario = new Object();
            arrendatario.nombreArrendatario = $("#nombreArrendatario").val();
            arrendatario.apellidoArrendatario = $("#apellidoArrendatario").val();
            arrendatario.fechaNacimiento = $("#fechaNacimiento").val();
            arrendatario.nroDocumento = $("#documento").val();
            arrendatario.nroTelefono = $("#telefono").val();
            arrendatario.idCuenta = id;
            $.ajax({
                type: 'Post',
                url: '/Api/Arrendatario/CrearArrendatario',
                data:  arrendatario,
                success: function (result) {
                    window.location.href = "/Home/Index";
                }
            });
        }
        if ($("#tipoCuenta").val() == 2) {
            var propietario = new Object();
            propietario.nombrePropietario = $("#nombrePropietario").val();
            propietario.apellidoPropietario = $("#apellidoPropietario").val();
            propietario.fechaNacimientoPropietario = $("#fechaNacimientoProp").val();
            propietario.nroDocumentoPropietario = $("#documentoProp").val();
            propietario.nroTelefonoPropietario = $("#telefonoProp").val();
            $.ajax({
                type: 'Get',
                url: '/Api/Propietario/CrearPropietario',
                data: propietario,
                success: function (result) {
                }
            });
        }
        if ($("#tipoCuenta").val() == 1) {
            var inmobiliaria = new Object();
            inmobiliaria.nombreInmobiliaria = $("#nombreInmo").val();
            inmobiliaria.cuitInmobiliaria = $("#cuitInmo").val();
            inmobiliaria.telefonoInmobiliaria = $("#telefonoInmo").val();
            inmobiliaria.Inmobiliaria = $("#AltaInscripcionInmo").val();          
            $.ajax({
                type: 'Get',
                url: '/Api/Inmobiliaria/CrearInmobiliaria',
                data: inmobiliaria,
                success: function (result) {
                }
            });
        }
    }

    
    
</script>
