<style>
    .select2 {
        width: 100%;
    }
    .arrendatario {
        display:none;
    }
    .propietario {
        display: none;
    }
    .inmobiliaria{
        display:none;
    }
    .redondeado {
        border-radius: 4px;
        border-color: lightgray;
        border-width: 1px;
        width: 100%;
        font-size: 13px;
        padding: 2px;
    }


</style>
<body>
    <div class="content" style="padding-left:10px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b>Administrar Perfil</b></h4>
                            <p class="card-category">Complete los datos del perfil.</p>
                        </div>
                        <div class="card-body">
                            <form id="formulario">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="email">Email</label>
                                        <br />
                                        <textarea class="form-control" id="email" name="email"></textarea>
                                    </div>
                                </div>
                                <hr />
                                <br/>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="tipoCuenta">Tipo de cuenta</label>
                                        <select class="select2" style="min-width:2000px" name="tipoCuenta" id="tipoCuenta" onchange="cambioTipoCuenta()">
                                            <option value="-1">Seleccione una opción</option>
                                            <option value="4">Inmobiliaria</option>
                                            <option value="3">Propietario</option>
                                            <option value="2">Arrendatario</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="arrendatario" class="arrendatario">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label for="nombreArrendatario">Nombre</label>
                                            <br/>
                                            <textarea class="form-control" id="nombreArrendatario" name="nombreArrendatario"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="apellidoArrendatario">Apellido</label>
                                            <br />
                                            <textarea class="form-control" id="apellidoArrendatario" name="apellidoArrendatario"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="documento">Nro Documento</label>
                                            <br />
                                            <textarea class="form-control" id="documento" name="documento"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefono">Nro Telefono</label>
                                            <br />
                                            <textarea class="form-control" id="telefono" name="telefono"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Fecha Nacimiento</label>
                                            <br />
                                            <input type="date" id="fechaNacimiento" class="redondeado form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div id="propietario" class="propietario">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label>Nombre</label>
                                            <br />
                                            <textarea class="form-control" id="nombrePropietario" name="nombrePropietario" ></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Apellido</label>
                                            <br />
                                            <textarea class="form-control" id="apellidoPropietario" name="apellidoPropietario"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="documentoProp">Nro Documento</label>
                                            <br />
                                            <textarea class="form-control" id="documentoProp" name="documentoProp"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefonoProp">Nro Telefono</label>
                                            <br />
                                            <textarea class="form-control" id="telefonoProp" name="telefonoProp"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Fecha Nacimiento</label>
                                            <br />
                                            <input type="date" id="fechaNacimientoProp" class="redondeado form-control" />
                                        </div>

                                    </div>
                                </div>
                                <div id="inmobiliaria" class="inmobiliaria">
                                    <div class="row" style="padding-top:6px">
                                        <div class="col-md-2">
                                            <label>Razón Social</label>
                                            <br />
                                            <textarea class="form-control" id="nombreInmo" name="nombreInmo"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="cuitInmo">CUIT</label>
                                            <br />
                                            <textarea class="form-control" id="cuitInmo" name="cuitInmo"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="telefonoInmo">Teléfono</label>
                                            <br/>
                                            <textarea class="form-control" id="telefonoInmo" name="telefonoInmo"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Alta Inscripción</label>
                                            <br />
                                            <input type="date" id="AltaInscripcionInmo" class="redondeado form-control" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info pull-center" onclick="GuardarPerfil()">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

</body>
<script>
    @{
        var idCuenta = Session["idCuenta"];
    }
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
    });
    var idCuenta = parseInt("@idCuenta");
    function GetUrlId() {
        var hash = window.location.href.slice(window.location.href.lastIndexOf('/') + 1);
        return hash;
    }
    completarDatos();
    function completarDatos() {
        $.ajax({
            type: 'Get',
            url: '/Api/Cuenta/ObtenerDatosCuenta?idCuenta=' + idCuenta,
            success: function (result) {
                completarDatosCuenta(result);
                if (result.tipoCuenta == 2) {
                    completarDatosArrendatario(result);
                }
                if (result.tipoCuenta == 3) {
                    completarDatosPropietario(result);
                }
                if (result.tipoCuenta == 4) {
                    completarDatosInmobiliaria(result);
                }
            }
        });
    }

    function completarDatosCuenta(cuentaVM) {
        $("#email").text(cuentaVM.email);
    }

    function completarDatosArrendatario(cuentaVM) {
        $("#tipoCuenta").empty();
        var html = '<option value="-1">Seleccione una opción</option>';
        html = html + '<option value="2" selected>Arrendatario</option>';
        html = html + '<option value="3">Propietario</option>';
        html = html + '<option value="4">Inmobiliaria</option>';
        $("#tipoCuenta").append(html);
        $("#tipoCuenta").change();
        $("#nombreArrendatario").text(cuentaVM.arrendatario.nombreArrendatario);
        $("#apellidoArrendatario").text(cuentaVM.arrendatario.apellidoArrendatario);
        $("#documento").text(cuentaVM.arrendatario.nroDocumento);
        $("#telefono").text(cuentaVM.arrendatario.nroTelefono);
        $("#fechaNacimiento").val(cuentaVM.arrendatario.fechaNacimientoStr);
    }
    function completarDatosPropietario(cuentaVM) {
        $("#tipoCuenta").empty();
        var html = '<option value="-1">Seleccione una opción</option>';
        html = html + '<option value="2">Arrendatario</option>';
        html = html + '<option value="3" selected>Propietario</option>';
        html = html + '<option value="4">Inmobiliaria</option>';
        $("#tipoCuenta").append(html);
        $("#tipoCuenta").change();
        $("#nombrePropietario").text(cuentaVM.propietario.nombrePropietario);
        $("#apellidoPropietario").text(cuentaVM.propietario.apellidoPropietario);
        $("#documentoProp").text(cuentaVM.propietario.numeroDocumentoPropietario);
        $("#telefonoProp").text(cuentaVM.propietario.telefonoPropietario);
        $("#fechaNacimientoProp").val(cuentaVM.propietario.fechaNacimientoStr);
    }
    function completarDatosInmobiliaria(cuentaVM) {
        $("#tipoCuenta").empty();
        var html = '<option value="-1">Seleccione una opción</option>';
        html = html + '<option value="2">Arrendatario</option>';
        html = html + '<option value="3">Propietario</option>';
        html = html + '<option value="4" selected>Inmobiliaria</option>';
        $("#tipoCuenta").append(html);
        $("#tipoCuenta").change();
        $("#nombreInmo").text(cuentaVM.inmobiliaria.nombreInmobiliaria);
        $("#cuitInmo").text(cuentaVM.inmobiliaria.cuitInmobiliaria);
        $("#telefonoInmo").text(cuentaVM.inmobiliaria.telefonoInmobiliariaStr);
        $("#AltaInscripcionInmo").val(cuentaVM.inmobiliaria.altaInscripcionStr);
    }

    function cambioTipoCuenta() {
        if ($("#tipoCuenta").val() == 2) {
            $(".arrendatario").show();
            $(".propietario").hide();
            $(".inmobiliaria").hide();
        }
        if ($("#tipoCuenta").val() == 3) {
            $(".propietario").show();
            $(".arrendatario").hide();
            $(".inmobiliaria").hide();
        }
        if ($("#tipoCuenta").val() == 4) {
            $(".inmobiliaria").show();
            $(".arrendatario").hide();
            $(".propietario").hide();
        }
    }


    function GuardarPerfil() {
        if ($("#tipoCuenta").val() == 2) {
            var arrendatario = new Object();
            arrendatario.nombreArrendatario = $("#nombreArrendatario").val();
            arrendatario.apellidoArrendatario = $("#apellidoArrendatario").val();
            arrendatario.fechaNacimiento = $("#fechaNacimiento").val();
            arrendatario.nroDocumento = $("#documento").val();
            arrendatario.nroTelefono = $("#telefono").val();
            arrendatario.idCuenta = idCuenta;
            $.ajax({
                type: 'Post',
                url: '/Api/Arrendatario/CrearArrendatario',
                data:  arrendatario,
                success: function (result) {
                    window.location.href = "/Cuenta/CambiarTipoCuenta?tipoCuenta=2&id=" + result;
                    
                }
            });
        }
        if ($("#tipoCuenta").val() == 3) {
            var propietario = new Object();
            propietario.nombrePropietario = $("#nombrePropietario").val();
            propietario.apellidoPropietario = $("#apellidoPropietario").val();
            propietario.fechaNacimiento = $("#fechaNacimientoProp").val();
            propietario.numeroDocumentoPropietario = $("#documentoProp").val();
            propietario.telefonoPropietario = $("#telefonoProp").val();
            propietario.idCuenta = idCuenta;
            $.ajax({
                type: 'Post',
                url: '/Api/Propietario/CrearPropietario',
                data: propietario,
                success: function (result) {
                    window.location.href = "/Cuenta/CambiarTipoCuenta?tipoCuenta=3&id=" + result;
                }
            });
        }
        if ($("#tipoCuenta").val() ==4) {
            var inmobiliaria = new Object();
            inmobiliaria.nombreInmobiliaria = $("#nombreInmo").val();
            inmobiliaria.cuitInmobiliaria = $("#cuitInmo").val();
            inmobiliaria.telefonoInmobiliaria = $("#telefonoInmo").val();
            inmobiliaria.altaInscripcion = $("#AltaInscripcionInmo").val();
            inmobiliaria.idCuenta = idCuenta;
            $.ajax({
                type: 'Post',
                url: '/Api/Inmobiliaria/CrearInmobiliaria',
                data: inmobiliaria,
                success: function (result) {
                    window.location.href = "/Cuenta/CambiarTipoCuenta?tipoCuenta=4&id=" + result;
                }
            });
        }
    }



</script>
