
@{
    ViewBag.Title = "InmueblesInmobiliariaView";
}


<section id="header" class="text-center" style="background-color: #dee2e6; padding-bottom:10px; padding-top:0px">
    <h2 class="display-6">Mis Inmuebles</h2>
    <p class="lead">Actualmente, estos son sus inmuebles en Arrendasys.</p>
    <button type="button" class="btn btn-success" onclick="AgregarNuevoInmueble()">
        <i class="fas fa-plus"></i> Agregar nuevo inmueble
    </button>
</section>

<section id="gallery">
    <div class="container" id="inmuebles">
        @*Cuerpo de la pagina*@
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Inmueble</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro que desea eliminar este inmueble?
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-outline-secondary btn-sm">Cancelar</a>
                <a href="" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </div>
        </div>
    </div>
</div>
@{
    var idCuenta = Session["idCuenta"];
    var idInmobiliaria = Session["id"];
}
<script>
    var idCuenta = "@idCuenta";
    var idInmobiliaria = parseInt("@idInmobiliaria");
    (function () {
        $("#inmuebles").empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Inmueble/ObtenerInmueblesInmobiliaria?idInmobiliaria=' + idInmobiliaria,
            success: function (result) {
                var item = "";
                var cont = 0;
                item = item + "<div class='row'>";
                $.each(result,function (index,inmueble){
                    cont++;
                    item = item + "<div class='col-md-4'>";
                    item = item + "<div class='cardV4'>";
                    item = item + "<div id='carouselexamplecontrols"+cont.toString()+"' class='carousel slide' data-ride='carousel'>";
                    item = item + "<div class='carousel-inner'>";
                    //Agrego imagenes al carousel
                    var cont2 = 1;
                    $.each(inmueble.listaMultimedia, function (i, archivo) {
                        var ruta = archivo.url.split('\\')[archivo.url.split('\\').length - 1];
                        var activo = "";
                        if (cont2 == 1) {
                            var activo = "active";
                        }
                        item = item + "<div class='carousel-item " + activo + "'><img src='..\\TempFolder\\" + ruta + "' alt='' class='card-img-top' height='240' width='350'></div>";
                        cont2++;
                    })
                    //Boton anterior imagen
                    item = item + "<a class='carousel-control-prev' href='#carouselexamplecontrols" + cont + "' role='button' data-slide='prev'>";
                    item = item + "<span class='carousel-control-prev-icon' aria-hidden='true'></span>";
                    item = item + "<span class='sr-only'>Previous</span></a>";
                    //Boton prox imagen
                    item = item + "<a class='carousel-control-next' href='#carouselexamplecontrols" + cont + "' role='button' data-slide='next'>";
                    item = item + "<span class='carousel-control-next-icon' aria-hidden='true'></span>";
                    item = item + "<span class='sr-only'>Next</span></a>";

                    item = item + "</div>";

                    item = item + "<div class='card-body'><h5 class='card-title'>" + " " + inmueble.direccion.nombreCalle + " " + inmueble.direccion.numeroCalle + " - " + inmueble.direccion.localidad.nombreLocalidad + "</h5>";
                    item = item + "<p><i class='fas fa-ruler-combined'></i>" + " " + inmueble.mtsCuadrados + "</p>";
                    item = item + "<p><i class='fas fa-home'></i>" + " " + inmueble.mtsCuadradosInt + "</p>";
                    item = item + "<p><i class='fas fa-bed'></i>" + " " + inmueble.cantHabitaciones + "</p>";
                    item = item + "<p><i class='fas fa-shower'></i>" + " " + inmueble.cantBanos + "</p>";
                    if (inmueble.cochera) {
                        item = item + "<p><i class='fas fa-warehouse'></i>" + "Tiene Cochera" + "</p>";
                    } else {
                        item = item + "<p><i class='fas fa-warehouse'></i>" + " " + "No tiene Cochera" + "</p>";
                    }
                    item = item + "<button class='btn btn-outline-success btn-sm' onclick='EditarInmueble("+inmueble.idInmueble+")'>Editar</button>";
                    item = item + "<button class='btn btn-outline-danger btn-sm' onclick='EliminarInmueble(" + inmueble.idInmueble +")'>Eliminar</button>";
                    item = item + "</div>";
                    item = item + "</div>";
                    item = item + "</div>";
                    item = item + "</div>";

                })
                item = item + "</div>";
                $("#inmuebles").append(item);
            }
        });
    })()
    function EditarInmueble(idInmueble) {
        location.href = '/InmueblesInmobiliaria/AgregarInmueble?id=' + idInmueble;
    }
    function AgregarNuevoInmueble() {
        location.href = '/InmueblesInmobiliaria/AgregarInmueble';
    }
    function EliminarInmueble(idInmueble) {
        $.ajax({
            type: 'Put',
            url: '/Api/Inmueble/EliminarInmueble?idInmueble=' + idInmueble,
            success: function (result) {
                location.href = '/InmueblesInmobiliaria/InmueblesInmobiliariaView';
            }
        });
    }
</script>
