<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/b-2.0.1/cr-1.5.4/fc-4.0.0/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.5/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.colResize.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.colResize.js"></script>
@{
    var usuario = Session["usuarioLogeado"];
    var tipoCuenta = Session["tipoCuenta"];
    var idCuenta = Session["idCuenta"];
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alquileres</title>
</head>
<style>
    .select2 {
        width: 100%;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Alquileres</div>
                        </div>

                    </div>
                    <div class="col-md12" id="botonAgregar">
                        <div class="col-md12">
                            <br />
                            <button type="button" class="btn btn-info btn-sm" style="float:right; margin:20px;" onclick="mostrarformulario()">
                                <i class="fas fa-plus"></i> Agregar Nuevo Alquiler
                            </button>
                            <br />
                        </div>

                    </div>

                    <div class="col-md-12" id="formulario" style="display:none">

                        <div class="row" style="padding-top:6px">

                            <div class="col-md-2">
                                <br />
                                <span>Fecha Alta: </span>
                                <br />
                                <input type="date" class="form-control" id="fechaAltaAlquiler" />
                            </div>

                            <div class="col-md-2">
                                <br />
                                <span>Fecha Baja: </span>
                                <br />
                                <input type="date" class="form-control" id="fechaBajaAlquiler" />
                            </div>

                            <div class="col-md-2">
                                <br />
                                <span>Arrendatario: </span>
                                <br />
                                <input type="text" class="form-control" id="idArrendatario" placeholder="ingrese el DNI del Arrendatario" />
                                <button type="button" class="btn btn-success" onclick="verificarDni($('#idArrendatario').val())"><i class="fas fa-save"></i> verif</button>
                            </div>

                            <div class="col-md-2">
                                <br />
                                <span>Inmueble: </span>
                                <br />
                                <select class="select2" style="/* min-width:2000px; *//* width: 1502px; */" name="idInmueble" id="idInmueble"></select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <br />
                            <div>
                                <a href="" class="btn btn-outline-success btn-sm" id="BotonGuardar" onclick="GuardarAlquiler()">Guardar</a>
                                <a href="" class="btn btn-outline-danger btn-sm" id="btnvolver">Cancelar</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12" id="formulario2" style="display:none">

                        <div class="row" style="padding-top:6px">

                            <div class="col-md-2">
                                <br />
                                <span>Fecha Alta: </span>
                                <br />
                                <input input readonly type="date" class="form-control" id="fechaAltaAlquiler2" />
                            </div>

                            <div class="col-md-2">
                                <br />
                                <span>Fecha Baja: </span>
                                <br />
                                <input type="date" class="form-control" id="fechaBajaAlquiler2" />
                            </div>

                            <div class="col-md-2">
                                <br />
                                <span>Arrendatario: </span>
                                <br />
                                <input input readonly type="text" class="form-control" id="idArrendatario2" placeholder="ingrese el DNI del Arrendatario" />
                            </div>

                            <div class="col-md-2">
                                <br />
                                <span>Inmueble: </span>
                                <br />
                                <input input readonly type="text" class="form-control" id="idInmueble2" />
                            </div>
                            <div class="col-md-2">
                                
                                <input input readonly type="text" class="form-control" id="idAlquiler2" style="visibility:hidden"/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <br />
                            <div>
                                <button type="button" class="btn btn-success" onclick="EditarAlquiler1()"><i class="fas fa-save"></i> Editar</button>
                                <button type="button" class="btn btn-danger" id="btnvolver2"><i class=" fa fa-reply"> </i>Volver</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table id="alquilereslista" class="table table-bordered display nowrap" cellspacing="0" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>idAlquiler</th>
                                                    <th>Fecha Alta</th>
                                                    <th>Fecha Baja</th>
                                                    <th>Arrendatario</th>
                                                    <th>Inmueble</th>
                                                    <th></th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />




<script>
    @{
        var idPropietario = Session["id"];

    }
    var idPropietario = "@idPropietario";
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: false,
            width: '100%',
        });
        ObtenerInmuebles(-1);

    });
    var user = '@usuario';
    var idCuenta = parseInt(@idCuenta);
    var tipoCuenta = parseInt(@tipoCuenta);
    var table;
    var idArrendatario;

    (function () {
        if (tipoCuenta == 2) {
            $("#botonAgregar").hide();
        }
        CrearTabla();
    })();
    function CrearTabla() {

        var idiomaEspanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla.",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        }

        table = $('#alquilereslista').DataTable({
            "colResize": {
                isEnabled: true,
                hoverClass: 'dt-colresizable-hover',
                hasBoundCheck: true,
                minBoundClass: 'dt-colresizable-bound-min',
                maxBoundClass: 'dt-colresizable-bound-max',
                isResizable: function (column) { return true; },
                onResize: function (column) { },
                onResizeEnd: function (column, columns) { },
                getMinWidthOf: function ($thNode) { }
            },
            "responsive": true,
            "order": [[1, "asc"]],
            "ajax": "/Api/Alquiler/ListarAlquileres?idCuenta=" + idCuenta + "&tipoCuenta=" + tipoCuenta,
            "lengthMenu": [5, 10, 25, 50],
            "columns": [
                { data: "idAlquiler", "className": "text-left", "visible": false },
                { data: "fechaAltaAlquiler",
                    "render": function(data){
                        let fechaAA = new Date(Date.parse(data));
                        return fechaAA.getDate() + '/' + (fechaAA.getMonth()+1) + '/' + fechaAA.getFullYear()
                     }
                    ,"className": "text-left"},
                {
                    data: "fechaBajaAlquiler",
                    "render": function (data) {
                        let fechaBA = new Date(Date.parse(data));
                        return fechaBA.getDate() + '/' + (fechaBA.getMonth() + 1) + '/' + fechaBA.getFullYear()
                    }

                    ,"className": "text-left"},
                { data: "nombreArrendatario", "className": "text-left" },
                { data: "idInmueble", "className": "text-left" },
                { data: "idAlquilerEstado", "className": "text-left", "visible": false },
                { data: "descripcionEstadoAlquiler", "className": "text-left" },
               {data:"idEstadoAlquiler",
                    orderable: false,
                   "render": function (data) {
                       if (tipoCuenta == 2) {
                           if (data == 3) {
                               var botones = "<button class='fas fa-check-circle' style='cursor:pointer' onclick='ConfirmarAlquiler(this)'></button>&nbsp&nbsp&nbsp<button class='fas fa-times-circle' style='cursor:pointer' onclick='CancelarAlquiler(this)'></button>&nbsp&nbsp&nbsp<button class='fas fa-eye' style='cursor:pointer' onclick='VerAlquiler(this)'></button>";
                               return botones
                           } else {

                               var botones = "<button class='fas fa-eye' style='cursor:pointer' onclick='VerAlquiler(this)'></button>";
                               return botones

                           }

                       } else {
                           var botones = "<button class='fa fa-edit' style='cursor:pointer' onclick='EditarAlquiler(this)'></button>&nbsp&nbsp&nbsp<button class='fas fa-trash-alt' style='cursor:pointer' onclick='EliminarAlquiler(this)'></button>&nbsp&nbsp&nbsp<button class='fas fa-eye' style='cursor:pointer' onclick='VerAlquiler(this)'></button>";
                           return botones
                       }

                    },
                    "width": 35,
                }
            ],
            "language": idiomaEspanol
        });

    }


    function EliminarAlquiler(btn) {
        var id = table.row($(btn).parents('tr')).data();
        alquiler1 = new Object();
        alquiler1.idAlquiler = id.idAlquiler;
        alquiler1.idInmueble = id.idInmueble;
        alquiler1.idArrendatario = id.idArrendatario;
        debugger;
        $.ajax({
            type: 'Post',
            url: '/Api/Alquiler/EliminarAlquiler',
            data: alquiler1,
            success: function (result) {
                location.href = '/Alquileres/Alquileres';
            }
        });

    }

    function VerAlquiler(btn) {
        var id = table.row($(btn).parents('tr')).data();
        console.log(id.idAlquiler);
        location.href = '/Alquileres/Alquiler?idAlquiler=' + id.idAlquiler;
    }


    $("#btnvolver").click(function () {
        $("#formulario").hide();
    });
    $("#btnvolver2").click(function () {
        $("#formulario2").hide();
    });

    function mostrarformulario() {
        $("#formulario").show();
        $("#BotonGuardar").hide();
        $("#formulario2").hide();
    }

    function EditarAlquiler(btn) {

        var id = table.row($(btn).parents('tr')).data();
     
        if (id.idEstadoAlquiler == 2) {
      
            window.alert("No se puede editar un alquiler vencido.");
        } else {
            $("#formulario").hide();
            $("#formulario2").show();
            var fechaAltaStr = (id.fechaAltaAlquiler).toString().split('T')[0];
            var fechaBajaStr = (id.fechaBajaAlquiler).toString().split('T')[0];
            $("#fechaAltaAlquiler2").val(fechaAltaStr);
            $("#fechaBajaAlquiler2").val(fechaBajaStr);
            $("#idArrendatario2").val(id.idArrendatario);
            $("#idInmueble2").val(id.idInmueble);
            $("#idAlquiler2").val(id.idAlquiler);
        }
    }
    function EditarAlquiler1() {

        alquiler = new Object();
        alquiler.fechaBajaAlquiler = $("#fechaBajaAlquiler2").val();
        alquiler.idAlquiler = $("#idAlquiler2").val();
        alquiler.idArrendatario = $("#idArrendatario2").val();
        alquiler.idInmueble = $("#idInmueble2").val();
        debugger;
       $.ajax({
            type: 'Post',
            url: '/Api/Alquiler/EditarAlquiler',
            data: alquiler,
            success: function (result) {
                window.location.href = "/Alquileres/Alquileres";
            }
        });

    }

    function GuardarAlquiler() {
        var alquiler = new Object();
        debugger;
        alquiler.fechaAltaAlquiler = $("#fechaAltaAlquiler").val();
        alquiler.fechaBajaAlquiler = $("#fechaBajaAlquiler").val();

        alquiler.idArrendatario = idArrendatario;


        alquiler.idInmueble = $("#idInmueble").val();

        $.ajax({
            type: 'Post',
            url: '/Api/Alquiler/CrearAlquiler',
            data: alquiler,
            success: function (result) {
                window.location.href = "/Alquileres/Alquileres";
            }
        });

    }
    //preguntar
    function ConfirmarAlquiler(btn) {
        var id = table.row($(btn).parents('tr')).data();
        console.log(id.idAlquiler);

        $.ajax({
            type: 'Put',
            url: '/Api/Alquiler/ConfirmarAlquiler?idAlquiler=' + id.idAlquiler + '&idAlquilerEstado=' +id.idAlquilerEstado,
            success: function (result) {
                location.href = '/Alquileres/Alquileres';
            }
        });

    }
    function CancelarAlquiler(btn) {
        var id = table.row($(btn).parents('tr')).data();
        console.log(id.idAlquiler);

        $.ajax({
            type: 'Put',
            url: '/Api/Alquiler/CancelarAlquiler?idAlquiler=' + id.idAlquiler + '&idAlquilerEstado=' + id.idAlquilerEstado,
            success: function (result) {
                location.href = '/Alquileres/Alquileres';
            }
        });

    }




    function ObtenerInmuebles(inmueble) {
        $.ajax({
            type: 'Get',
            url: '/Api/Alquiler/ObtenerInmuebles?idPropietario='+ idPropietario,
            async: false,
            success: function (respuesta) {
                listaInmu = respuesta;
                if (inmueble == -1) {
                    $('#idInmueble').append($('<option selected>').val(-1).text("Seleccione una opción"))
                }
                else {
                    $('#idInmueble').append($('<option>').val(-1).text("Seleccione una opción"))
                }

                $.each(respuesta, function (index, result) {

                    if (inmueble == result.idInmueble) {
                        $('#idInmueble').append($('<option selected>').val(result.idInmueble).text(result.direccion.nombreCalle).text(result.direccion.numeroCalle))

                    }
                    else {
                        $('#idInmueble').append($('<option>').val(result.idInmueble).text(result.direccion.nombreCalle + " - " + result.direccion.localidad.nombreLocalidad))

                    }
                });
            }
        });
    }

    function verificarDni(DniArrendatario) {

        $.ajax({
            type: 'Get',
            url: '/Api/Alquiler/verificarDNI?DniArrendatario=' + DniArrendatario,
            success: function (result) {
                if (result != 0) {
                    idArrendatario = result;
                    $("#BotonGuardar").show();
                } else {
                    $("#BotonGuardar").hide();
                    window.alert("no existe arrendatario, ingrese DNI valido");
                    
                }
             
            }
        });
    }

</script>
