@{
    var usuario = Session["usuarioLogeado"];
    var tipoCuenta = Session["tipoCuenta"];
    var idCuenta = Session["idCuenta"];
    var id = Session["id"];
    var fotoUsuario = Session["foto"];
    var rutaParcial = fotoUsuario.ToString().Split('\\')[fotoUsuario.ToString().Split('\\').Length - 1];
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alquiler</title>
</head>
<style>
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

h1,
h1 {
    margin-top: 150px
}

p {
    font-size: 1.2rem
}


</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="float-left">
                            <div class="titulo">Alquiler</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    @*Inmueble*@
                                    <div class="container" id="Inmueble">

                                    </div>
                                    <div class="container" id="body">
                                        @*Aca va todo el cuerpo*@
                                    </div>
                                    <div class="container" id="bodyInmueble">
                                        @*Aca va todo el cuerpo*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tipoCuenta = parseInt(@tipoCuenta);
    var idCuenta = parseInt(@idCuenta);
    var id = parseInt(@id);
    var pag = 1;
    var idAlquiler = parseInt(GetUrlVars()["idAlquiler"]);
    var esAoAr = false;
    var esArAo = false;
    var esAI = false;
    var idInmueble;
    var rutaParcial = "@rutaParcial";
    (function () {

        if (tipoCuenta == 2) {
            esArAo = true;
            esAI = true;
        }
        if (tipoCuenta == 3) {
            esAoAr = true;
        }

        completarDatos();
        completarResenias();
        if (tipoCuenta == 2) {
            completarReseniasInmueble();
        }
        /*cargarItems();*/
    })();
    function completarDatos() {
        $.ajax({
            type: 'Get',
            url: '/Api/Alquiler/ObtenerAlquiler?idAlquiler=' + idAlquiler + "&tipoCuenta=" + tipoCuenta,
            async:false,
            success: function (result) {
                idInmueble = result.inmueble.idInmueble;
                item = "";
                var cont2 = 1;
                var cont = 1;
                item = item + "<div class='row'>";
                item = item + "<p><h3>Inmueble</h3></p>";
                item = item + "<div class='col-md-3'>";
                item = item + "<div id='carouselexamplecontrols" + cont.toString() + "' class='carousel slide' data-ride='carousel'>";
                item = item + "<div class='carousel-inner'>";
                $.each(result.inmueble.listaMultimedia, function (i, archivo) {
                    var ruta = archivo.url.split('\\')[archivo.url.split('\\').length - 1];
                    var activo = "";
                    if (cont2 == 1) {
                        var activo = "active";
                    }
                    item = item + "<div class='carousel-item " + activo + "'><img src='..\\TempFolder\\" + ruta + "' alt='' class='card-img-top' height='240' width='350'></div>";
                    cont2++;
                })
                item = item + "<a class='carousel-control-prev' href='#carouselexamplecontrols" + cont + "' role='button' data-slide='prev'>";
                item = item + "<span class='carousel-control-prev-icon' aria-hidden='true'></span>";
                item = item + "<span class='sr-only'>Previous</span></a>";
                //Boton prox imagen
                item = item + "<a class='carousel-control-next' href='#carouselexamplecontrols" + cont + "' role='button' data-slide='next'>";
                item = item + "<span class='carousel-control-next-icon' aria-hidden='true'></span>";
                item = item + "<span class='sr-only'>Next</span></a>";
                item = item + "</div></div></div>";
                item = item + "<div class='col-md-6'>"; //Aca van los datos del inmueble
                item = item + "<div class='card-body' style='padding-left:20;padding-top:0'><h5 class='card-title'>" + " " + result.inmueble.direccion.nombreCalle + " " + result.inmueble.direccion.numeroCalle + " - " + result.inmueble.direccion.localidad.nombreLocalidad + "</h5>";
                item = item + "<p><i class='fas fa-ruler-combined'></i>" + " " + result.inmueble.mtsCuadrados + "</p>";
                item = item + "<p><i class='fas fa-home'></i>" + " " + result.inmueble.mtsCuadradosInt + "</p>";
                item = item + "<p><i class='fas fa-bed'></i>" + " " + result.inmueble.cantHabitaciones + "</p>";
                item = item + "<p><i class='fas fa-shower'></i>" + " " + result.inmueble.cantBanos + "</p>";
                if (result.inmueble.cochera) {
                    item = item + "<p><i class='fas fa-warehouse'></i>" + " " + "Tiene Cochera" + "</p>";
                } else {
                    item = item + "<p><i class='fas fa-warehouse'></i>" + "No tiene Cochera" + "</p>";
                }
                item = item + "</div>";
                item = item + "</div>";

                //Row Datos Arrendador u arrendatario (agregar condicion)
                if (tipoCuenta == 2) {
                    if (result.inmueble.tipoArrendador == 3) {
                        item = item + "<div class='row'>"
                        item = item + "<div class='row'>";
                        item = item + "<p><h3>Arrendador</h3></p><img src='..\\TempFolder\\" + rutaParcial + "' style='height:100px; width:120px;'></img> ";
                        item = item + "<p><h5>Nombre: " + result.arrendador.nombrePropietario + ' ' + result.arrendador.apellidoPropietario + "</h5></p>";
                        item = item + "<p><h5>Documento: " + result.arrendador.numeroDocumentoPropietario + "</h5></p>";
                        item = item + "<p><h5>Telefono: " + result.arrendador.telefonoPropietario + "</h5></p>";
                        item = item + "<div class='row' id='reseniasArAo'>";
                        item = item + "</div>";
                        item = item + "</div>";
                        item = item + "</hr>";
                    } else {
                        item = item + "<div class='row'>"
                        item = item + "<div class='row'>";
                        item = item + "<p><h3>Inmobiliaria</h3></p><img src='..\\TempFolder\\" + rutaParcial + "' style='height:100px; width:120px;'></img> ";
                        item = item + "<p><h5>Nombre: " + result.arrendador.nombreInmobiliaria + "</h5></p>";
                        item = item + "<p><h5>Telefono: " + result.arrendador.telefonoInmobiliaria + "</h5></p>";
                        item = item + "<div class='row' id='reseniasArAo'>";
                        item = item + "</div>";
                        item = item + "</div>";
                        item = item + "</hr>";
                    }
                }
                if (tipoCuenta == 3 || tipoCuenta == 4) {
                    item = item + "<hr/>";
                    item = item + "<div class='row'>";
                    item = item + "<p><h3>Arrendatario</h3></p><img src='..\\TempFolder\\" + rutaParcial + "' style='height:100px; width:120px;'></img> ";
                    item = item + "<p><h5>Nombre: " + result.arrendatario.nombreArrendatario + " " + result.arrendatario.apellidoArrendatario + "</h5></p>";
                    item = item + "<p><h5>Documento: " + result.arrendatario.nroDocumento + "</h5></p>";
                    item = item + "<p><h5>Telefono: " + result.arrendatario.telefonoArrendatario + "</h5></p>";
                    item = item + "<div class='row' id='reseniasAoAr'>";
                    item = item + "</div>";
                }

                item = item + "</div>";

                //Row reseñas del inmueble
                if (tipoCuenta == 2) {
                    item = item + "<button type = 'button' class='btn btn-info btn-sm' style = 'float:right; margin:5px; width:500px;' onclick = 'mostrarformularioArrendador()'><i class='fas fa-plus'></i> Hacer Reseña Propietario</button >"
                    item = item + "<button type = 'button' class='btn btn-info btn-sm' style = 'float:right; margin:5px; width:500px;'  onclick = 'mostrarformularioInmueble()'><i class='fas fa-plus'></i> Hacer Reseña Inmueble</button >"
                }

                if (tipoCuenta == 3 || tipoCuenta == 4) {
                    item = item + "<br/><button type = 'button' class='btn btn-info btn-sm' style = 'float:right; margin:5px; width:500px;' onclick = 'mostrarformularioArrendatario()'><i class='fas fa-plus'></i> Hacer Reseña Arrendatario</button ><br/>"
                }

                item = item + "<div id='mensajeError' style='display: none; font-size: 15px; background-color: #bf3131; width:500px; color: white; border-radius: 10px; justify-content: center; text-align:center; margin-left:auto; margin-right:auto;'>No puedes hacer una Reseña sobre un Alquiler que no se encuentra Activo</div>"

                if (tipoCuenta == 2) {
                    item = item + "<div class='row'>"
                    item = item + "<div class='row' id='reseniasAI' style='display:none'>";
                    item = item + "</div>";
                    cargarReseniasAI();
                    item = item + "<div class='row' id='formularioAI' style='display:none'>";
                    item = item + "</div>";
                    cargarItemsAI();
                    item = item + "</div>";
                    item = item + "</hr>";
                    cargarReseniasArAo();
                    item = item + "<div class='row' id='formularioArAo' style='display:none'>";
                    item = item + "</div>";
                    cargarItemsArAo();
                }
                if (tipoCuenta == 3 || tipoCuenta == 4) {
                    cargarReseniasAoAr();
                    item = item + "<div class='row' id='formularioAoAr' style='display:none'>";
                    item = item + "</div>";
                    cargarItemsAoAr();
                }


                $("#Inmueble").append(item);
            }
        });
    }
    var listaItemsAoAr;
    var listaItemsAI;
    var listaItemsArAo;
    function cargarItemsAoAr() {
        //Haces el ajax
        $.ajax({
            type: 'Get',
            url: '/Api/Item/ListarItemsAoAr',
            success: function (result) {
                listaItemsAoAr = result;
                $("#formularioAoAr").append("<p><h3>Haz tu Reseña</h3></p>")
                result.forEach(function (data, index) {
                    $("#formularioAoAr").append("<div class='col-md-3'>" + data.nombreItemReseña);
                    var item1 = "<div class='rating'><input type ='radio' name ='rating" + data.idItemReseña + "' value ='5' id ='5" + data.idItemReseña + "'><label for='5" + data.idItemReseña + "'>☆</label><input type='radio' name='rating" + data.idItemReseña + "' value='4' id='4" + data.idItemReseña + "'><label for='4" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='3' id='3" + data.idItemReseña + "'><label for='3" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='2' id='2" + data.idItemReseña + "'><label for='2" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='1' id='1" + data.idItemReseña + "'><label for='1" + data.idItemReseña + "'>☆</label></div>"
                    item1 = item1 + "</div>";
                    $("#formularioAoAr").append(item1);
                });
                var item2 = "<div class='row'>";
                item2 = item2 + "<label>Descripción Reseña</label></br>"
                item2 = item2 + "<textarea class='form-control' id='descripcionAoAr' name='descripcionAoAr'></textarea>";
                item2 = item2 + "</div>";
                item2 = item2 + "<button type='button' class='btn btn-info pull-center' style='width:120px' onclick='GuardarReseñaAoAr()'>Guardar</button>";
                item2 = item2 + "<a href='' class='btn btn - outline - danger btn - sm' id='btnvolver' style='width:120px; background-color:#ea0606;'>Cancelar</a>"
                $("#formularioAoAr").append(item2)
            }
        });
    }
    function cargarItemsArAo() {
        //Haces el ajax
        $.ajax({
            type: 'Get',
            url: '/Api/Item/ListarItemsArAo',
            success: function (result) {
                listaItemsArAo = result;
                $("#formularioArAo").append("<p><h3>Haz tu Reseña</h3></p>")
                result.forEach(function (data, index) {
                    $("#formularioArAo").append("<div class='col-md-3'>" + data.nombreItemReseña);
                    var item1 = "<div class='rating'><input type ='radio' name ='rating" + data.idItemReseña + "' value ='5' id ='5" + data.idItemReseña + "'><label for='5" + data.idItemReseña + "'>☆</label><input type='radio' name='rating" + data.idItemReseña + "' value='4' id='4" + data.idItemReseña + "'><label for='4" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='3' id='3" + data.idItemReseña + "'><label for='3" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='2' id='2" + data.idItemReseña + "'><label for='2" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='1' id='1" + data.idItemReseña + "'><label for='1" + data.idItemReseña + "'>☆</label></div>"
                    item1 = item1 + "</div>";
                    $("#formularioArAo").append(item1);
                });
                var item2 = "<div class='row'>";
                item2 = item2 + "<label>Descripción Reseña</label></br>"
                item2 = item2 + "<textarea class='form-control' id='descripcionArAo' name='descripcionArAo'></textarea>";
                item2 = item2 + "</div>";
                item2 = item2 + "<button type='button' class='btn btn-info pull-center' style='width:120px' onclick='GuardarReseñaArAo()'>Guardar</button>";
                item2 = item2 + "<a href='' class='btn btn - outline - danger btn - sm' id='btnvolver' style='width:120px; background-color:#ea0606;'>Cancelar</a>"
                $("#formularioArAo").append(item2)
            }
        });
    }
    function cargarItemsAI() {
        //Haces el ajax
        $.ajax({
            type: 'Get',
            url: '/Api/Item/ListarItemsAI',
            success: function (result) {
                listaItemsAI = result;
                $("#formularioAI").append("<p><h3>Haz tu Reseña</h3></p>")
                result.forEach(function (data, index) {
                    $("#formularioAI").append("<div class='col-md-3'>" + data.nombreItemReseña);
                    var item1 = "<div class='rating'><input type ='radio' name ='rating" + data.idItemReseña + "' value ='5' id ='5" + data.idItemReseña + "'><label for='5" + data.idItemReseña + "'>☆</label><input type='radio' name='rating" + data.idItemReseña + "' value='4' id='4" + data.idItemReseña + "'><label for='4" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='3' id='3" + data.idItemReseña + "'><label for='3" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='2' id='2" + data.idItemReseña + "'><label for='2" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='1' id='1" + data.idItemReseña + "'><label for='1" + data.idItemReseña + "'>☆</label></div>"
                    item1 = item1 + "</div>";
                    $("#formularioAI").append(item1);
                });
                var item2 = "<div class='row'>";
                item2 = item2 + "<label>Descripción Reseña</label></br>"
                item2 = item2 + "<textarea class='form-control' id='descripcionAI' name='descripcionAI'></textarea>";
                item2 = item2 + "</div>";
                item2 = item2 + "<button type='button' class='btn btn-info pull-center' style='width:120px' onclick='GuardarReseñaAI()'>Guardar</button>";
                item2 = item2 + "<a href='' class='btn btn - outline - danger btn - sm' id='btnvolver' style='width:120px; background-color:#ea0606;'>Cancelar</a>"
                $("#formularioAI").append(item2)
            }
        });
    }

    function GuardarReseñaAoAr() {
        if (verValorAoAr()) {
            var resenia = new Object();
            resenia.idAlquiler = idAlquiler;
            resenia.descripcionResenia = $("#descripcionAoAr").val();
            let listaReseniaItems = [];
            listaItemsAoAr.forEach(function (data, index) {
                var item = new Object();
                var stars = document.getElementsByTagName("input");
                for (var i = 0; i < stars.length; i++) {
                    if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                        if (stars[i].getAttribute('type') == 'radio') {
                            if ($("#" + stars[i].id).prop("checked")) {
                                item.puntuacionReseniaItem = $("#" + stars[i].id).prop("value");
                            }
                        }
                    }
                }
                item.idItemResenia = data.idItemReseña;
                listaReseniaItems.push(item);
            })
            resenia.listaReseniaItems = listaReseniaItems;
            $.ajax({
                type: 'Post',
                url: '/Api/Resenia/CrearReseniaAorAr',
                data: resenia,
                success: function (result) {
                    window.location.href = "/Alquileres/Alquiler?idAlquiler=" + idAlquiler;
                }
            });

        } else {
            alert("Por favor puntúe todos los aspectos.");
        }
    }
    function GuardarReseñaArAo() {
        if (verValorArAo()) {
            var resenia = new Object();
            resenia.idAlquiler = idAlquiler;
            resenia.descripcionResenia = $("#descripcionArAo").val();
            let listaReseniaItems = [];
            listaItemsArAo.forEach(function (data, index) {
                var item = new Object();
                var stars = document.getElementsByTagName("input");
                for (var i = 0; i < stars.length; i++) {
                    if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                        if (stars[i].getAttribute('type') == 'radio') {
                            if ($("#" + stars[i].id).prop("checked")) {
                                item.puntuacionReseniaItem = $("#" + stars[i].id).prop("value");
                            }
                        }
                    }
                }
                item.idItemResenia = data.idItemReseña;
                listaReseniaItems.push(item);
            })
            resenia.listaReseniaItems = listaReseniaItems;
            $.ajax({
                type: 'Post',
                url: '/Api/Resenia/CrearReseniaArAo',
                data: resenia,
                success: function (result) {
                    window.location.href = "/Alquileres/Alquiler?idAlquiler=" + idAlquiler;
                }
            });

        } else {
            alert("Por favor puntúe todos los aspectos.");
        }
    }
    function GuardarReseñaAI() {
        if (verValorAI()) {
            var resenia = new Object();
            resenia.idAlquiler = idAlquiler;
            resenia.descripcionResenia = $("#descripcionAI").val();
            let listaReseniaItems = [];
            listaItemsAI.forEach(function (data, index) {
                var item = new Object();
                var stars = document.getElementsByTagName("input");
                for (var i = 0; i < stars.length; i++) {
                    if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                        if (stars[i].getAttribute('type') == 'radio') {
                            if ($("#" + stars[i].id).prop("checked")) {
                                item.puntuacionReseniaItem = $("#" + stars[i].id).prop("value");
                            }
                        }
                    }
                }
                item.idItemResenia = data.idItemReseña;
                listaReseniaItems.push(item);
            })
            resenia.listaReseniaItems = listaReseniaItems;
            $.ajax({
                type: 'Post',
                url: '/Api/Resenia/CrearReseniaAI',
                data: resenia,
                success: function (result) {
                    window.location.href = "/Alquileres/Alquiler?idAlquiler=" + idAlquiler;
                }
            });

        } else {
            alert("Por favor puntúe todos los aspectos.");
        }
    }
    function verValorAoAr() {
        let bool = [];
        listaItemsAoAr.forEach(function (data, index) {
            var stars = document.getElementsByTagName("input");
            for (var i = 0; i < stars.length; i++) {
                if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                    if (stars[i].getAttribute('type') == 'radio') {
                        if ($("#" + stars[i].id).prop("checked")) {
                            console.log("Valor final del item " + data.nombreItemReseña + "=" + $("#" + stars[i].id).prop("value"))
                            bool.push(true);
                            break;
                        }
                    }
                }
            }
        });
        if (listaItemsAoAr.length == bool.length) {
            return true;
        } else {
            return false;
        }
    }
    function verValorArAo() {
        let bool = [];
        listaItemsArAo.forEach(function (data, index) {
            var stars = document.getElementsByTagName("input");
            for (var i = 0; i < stars.length; i++) {
                if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                    if (stars[i].getAttribute('type') == 'radio') {
                        if ($("#" + stars[i].id).prop("checked")) {
                            console.log("Valor final del item " + data.nombreItemReseña + "=" + $("#" + stars[i].id).prop("value"))
                            bool.push(true);
                            break;
                        }
                    }
                }
            }
        });
        if (listaItemsArAo.length == bool.length) {
            return true;
        } else {
            return false;
        }
    }
    function verValorAI() {
        let bool = [];
        listaItemsAI.forEach(function (data, index) {
            var stars = document.getElementsByTagName("input");
            for (var i = 0; i < stars.length; i++) {
                if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                    if (stars[i].getAttribute('type') == 'radio') {
                        if ($("#" + stars[i].id).prop("checked")) {
                            console.log("Valor final del item " + data.nombreItemReseña + "=" + $("#" + stars[i].id).prop("value"))
                            bool.push(true);
                            break;
                        }
                    }
                }
            }
        });
        if (listaItemsAI.length == bool.length) {
            return true;
        } else {
            return false;
        }
    }
    function verValorArAo() {
        let bool = [];
        listaItemsArAo.forEach(function (data, index) {
            var stars = document.getElementsByTagName("input");
            for (var i = 0; i < stars.length; i++) {
                if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                    if (stars[i].getAttribute('type') == 'radio') {
                        if ($("#" + stars[i].id).prop("checked")) {
                            console.log("Valor final del item " + data.nombreItemReseña + "=" + $("#" + stars[i].id).prop("value"))
                            bool.push(true);
                            break;
                        }
                    }
                }
            }
        });
        if (listaItemsArAo.length == bool.length) {
            return true;
        } else {
            return false;
        }
    }
    function verValorAI() {
        let bool = [];
        listaItemsAI.forEach(function (data, index) {
            var stars = document.getElementsByTagName("input");
            for (var i = 0; i < stars.length; i++) {
                if (stars[i].getAttribute('name') == 'rating' + data.idItemReseña) {
                    if (stars[i].getAttribute('type') == 'radio') {
                        if ($("#" + stars[i].id).prop("checked")) {
                            console.log("Valor final del item " + data.nombreItemReseña + "=" + $("#" + stars[i].id).prop("value"))
                            bool.push(true);
                            break;
                        }
                    }
                }
            }
        });
        if (listaItemsAI.length == bool.length) {
            return true;
        } else {
            return false;
        }
    }
    function cargarReseniasAoAr() {
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/ListarReseniasAoAr',

        });
    }
    function cargarReseniasArAo() {
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/ListarReseniasArAo',
            /*success: function (result) {
                listaItemsAI = result;
                result.forEach(function (data, index) {
                    $("#formularioAI").append("<div class='col-md-3'>" + data.nombreItemReseña);
                    var item1 = "<div class='rating'><input type ='radio' name ='rating" + data.idItemReseña + "' value ='5' id ='5" + data.idItemReseña + "'><label for='5" + data.idItemReseña + "'>☆</label><input type='radio' name='rating" + data.idItemReseña + "' value='4' id='4" + data.idItemReseña + "'><label for='4" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='3' id='3" + data.idItemReseña + "'><label for='3" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='2' id='2" + data.idItemReseña + "'><label for='2" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='1' id='1" + data.idItemReseña + "'><label for='1" + data.idItemReseña + "'>☆</label></div>"
                    item1 = item1 + "</div>";
                    $("#formularioAI").append(item1);
                });
                var item2 = "<div class='row'>";
                item2 = item2 + "<label>Descripción Reseña</label></br>"
                item2 = item2 + "<textarea class='form-control' id='descripcionAI' name='descripcionAI'></textarea>";
                item2 = item2 + "</div>";
                item2 = item2 + "<button type='button' class='btn btn-info pull-center' style='width:120px' onclick='GuardarReseñaAI()'>Guardar</button>"
                $("#formularioAI").append(item2)
            }*/
        });
    }
    function cargarReseniasAI() {
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/ListarReseniasAI',
            /*success: function (result) {
                listaItemsAI = result;
                result.forEach(function (data, index) {
                    $("#formularioAI").append("<div class='col-md-3'>" + data.nombreItemReseña);
                    var item1 = "<div class='rating'><input type ='radio' name ='rating" + data.idItemReseña + "' value ='5' id ='5" + data.idItemReseña + "'><label for='5" + data.idItemReseña + "'>☆</label><input type='radio' name='rating" + data.idItemReseña + "' value='4' id='4" + data.idItemReseña + "'><label for='4" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='3' id='3" + data.idItemReseña + "'><label for='3" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='2' id='2" + data.idItemReseña + "'><label for='2" + data.idItemReseña + "'>☆</label> <input type='radio' name='rating" + data.idItemReseña + "' value='1' id='1" + data.idItemReseña + "'><label for='1" + data.idItemReseña + "'>☆</label></div>"
                    item1 = item1 + "</div>";
                    $("#formularioAI").append(item1);
                });
                var item2 = "<div class='row'>";
                item2 = item2 + "<label>Descripción Reseña</label></br>"
                item2 = item2 + "<textarea class='form-control' id='descripcionAI' name='descripcionAI'></textarea>";
                item2 = item2 + "</div>";
                item2 = item2 + "<button type='button' class='btn btn-info pull-center' style='width:120px' onclick='GuardarReseñaAI()'>Guardar</button>"
                $("#formularioAI").append(item2)
            }*/
        });
    }
    function completarResenias() {
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/obtenerReseniasAlquiler?tipoCuenta=' + tipoCuenta + "&id=" + id + "&pag=" + pag + "&IdAlquiler=" + idAlquiler,
            success: function (result) {
                cantidad = result.cantidad;
                $("#body").empty();
                var item = "";
                if (tipoCuenta == 2) {
                    item = item + "<div><p><h3>Mis Reseñas sobre el Arrendador</h3></p></div>";
                }
                if (tipoCuenta == 3 || tipoCuenta == 4) {
                    item = item + "<div><p><h3>Mis Reseñas sobre el Arrendatario</h3></p></div>";
                }
                result.lista.forEach(function (data, index) {
                    item = item + "<div class='row'>";
                    item = item + "<div class='col-md-2'>";
                    item = item + "<span>" + data.nombreAutor + "</span>";
                    item = item + "<span>" + data.fechaAltaReseña.toString().split('T')[0] + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-6'>";
                    item = item + "<span>" + data.descripcionResenia + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-2'style='text-align:center;'><span>Puntuación</span></br><span>" + data.puntuacionResenia + "</span></div>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-10' style='padding-left:0px;'>";
                    item = item + "<hr>";
                    item = item + "</div>";
                    item = item + "</div>";
                });

                $("#body").append(item);
                paginas();
            }
        });
    }
    function paginas() {
        var html = "<nav aria-label='...'>";
        html = html + "<ul class='pagination'>";
        var cantPag = 1;
        var resto = cantidad % 6;
        if (resto > 0) {
            cantPag = cantidad / 6 + 1;
        } else {
            cantPag = cantidad / 6;
        }

        for (var i = 1; i <= cantPag; i++) {
            if (i == pag) {
                html = html + "<li class='page-item active'><button class='page-link' id='pag" + i + "' onclick=cambiarPag(" + i + ")>" + i + "</button></li>";
            } else {
                html = html + "<li class='page-item'><button class='page-link' id='pag" + i + "' onclick=cambiarPag(" + i + ")>" + i + "</button></li>";
            }
        }
        html = html + "</ul>";
        html = html + "</nav>";
        $("#body").append(html);
    }
    function cambiarPag(num) {
        pag = num;
        completarResenias();
    }

    function completarReseniasInmueble() {
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/obtenerReseniasAlquilerInmueble?tipoCuenta=' + tipoCuenta + "&id=" + id + "&pag=" + pag + "&IdAlquiler=" + idAlquiler,
            success: function (result) {
                cantidad = result.cantidad;
                $("#bodyInmueble").empty();
                var item = "";
                item = item + "<div><p><h3>Mis Reseñas sobre el Inmueble</h3></p></div>";
                result.lista.forEach(function (data, index) {
                    item = item + "<div class='row'>";
                    item = item + "<div class='col-md-2'>";
                    item = item + "<span>" + data.nombreAutor + "</span>";
                    item = item + "<span>" + data.fechaAltaReseña.toString().split('T')[0] + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-6'>";
                    item = item + "<span>" + data.descripcionResenia + "</span></br>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-2'style='text-align:center;'><span>Puntuación</span></br><span>" + data.puntuacionResenia + "</span></div>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-10' style='padding-left:0px;'>";
                    item = item + "<hr>";
                    item = item + "</div>";
                    item = item + "</div>";
                });

                $("#bodyInmueble").append(item);
                paginasInmueble();
            }
        });
    }
    function paginasInmueble() {
        var html = "<nav aria-label='...'>";
        html = html + "<ul class='pagination'>";
        var cantPag = 1;
        var resto = cantidad % 6;
        if (resto > 0) {
            cantPag = cantidad / 6 + 1;
        } else {
            cantPag = cantidad / 6;
        }

        for (var i = 1; i <= cantPag; i++) {
            if (i == pag) {
                html = html + "<li class='page-item active'><button class='page-link' id='pag" + i + "' onclick=cambiarPagInmueble(" + i + ")>" + i + "</button></li>";
            } else {
                html = html + "<li class='page-item'><button class='page-link' id='pag" + i + "' onclick=cambiarPagInmueble(" + i + ")>" + i + "</button></li>";
            }
        }
        html = html + "</ul>";
        html = html + "</nav>";
        $("#bodyInmueble").append(html);
    }
    function cambiarPagInmueble(num) {
        pag = num;
        completarReseniasInmueble();
    }
    function mostrarformularioArrendador() {
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/indicadorAlquilerActivo?idAlquiler=' + idAlquiler,
            success: function (result) {
                if (result == 1) {
                    $("#formularioArAo").show();
                    $("#reseniasAI").hide();
                    $("#formularioAI").hide();
                } else {
                    $("#mensajeError").show();
                }
            }
        });
    }
    function mostrarformularioInmueble() {

        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/indicadorAlquilerActivo?idAlquiler=' + idAlquiler,
            success: function (result) {
                if (result == 1) {
                    $("#reseniasAI").show();
                    $("#formularioAI").show();
                    $("#formularioArAo").hide();
                    $("#formulario2").hide();

                } else {
                    $("#mensajeError").show();
                }
            }
        });
    }

    function mostrarformularioArrendatario() {
        debugger;
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/indicadorAlquilerActivo?idAlquiler=' + idAlquiler,
            success: function (result) {
                if (result == 1) {
                    $("#formularioAoAr").show();

                } else {
                    $("#mensajeError").show();
                }
            }
        });
    }
</script>