
@{
    ViewBag.Title = "MisResenias";
}

<body>
<div class="content" style="padding-left:10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <p class="card-category">Mis Reseñas</p>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/Generales.js"></script>

    <link href="~/Content/css/select2.min.css" rel="stylesheet" />


</body>
