
@{
    ViewBag.Title = "MisResenias";
}

<body>
<div class="content" style="padding-left:10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <p class="card-category">Mis Reseñas</p>
                    </div>
                    <div class="card" style="margin-top:0px">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-3">
                                                <label for="fechaDesdeInput">Desde</label>
                                                <br />
                                                <input type="date" class="form-control" id="fechaDesdeFiltro" name="fechaDesdeInput" required>
                                            </div>
                                            <div class="col-3">
                                                <label for="fechaDesdeInput">Hasta</label>
                                                <br />
                                                <input type="date" class="form-control" id="fechaHastaFiltro" name="fechaDesdeInput" required>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-success" onclick="completarResenias()">Filtrar</button>
                                                <br /><br />
                                            </div>
                                            <div class="col-1">

                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-success" onclick="generarReporte()">Imprimir Reporte</button>
                                                <br /><br />
                                            </div>
                                        </div>
                                        
                                        <div class="container" id="body">
                                            @*Aca va todo el cuerpo*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/Generales.js"></script>

    <link href="~/Content/css/select2.min.css" rel="stylesheet" />


</body>
@{ 
    var usuario = Session["usuarioLogeado"];
    var tipoCuenta = Session["tipoCuenta"];
    var idCuenta = Session["idCuenta"];
    var id = Session["id"];
}
<script>

    var tipoCuenta = parseInt(@tipoCuenta);
    var usuario = "@usuario";
    var id = parseInt(@id);
    var idCuenta = parseInt(@idCuenta);
    var fechaDesde;
    var fechaHasta;
    var pag = 1;
    (function () {
        CargarFiltros();
        completarResenias();
    })();
    var cantidad = 0;
    function CargarFiltros() {
        //Creo las fechas de hasta con dia de hoy y desde con 15 dias atras
        var Hasta = new Date();
        var Desde = new Date(Hasta);
        var dias = 15;  //Dias para atras del dia de hoy para que salgan en Novedades
        Desde.setDate(Desde.getDate() - dias);
        var fechaDesdeInput = FechaformatoInput(Desde);
        var fechaHastaInput = FechaformatoInput(Hasta);

        //las cargo en las variables globales
        fechaDesde = fechaHoyMostrar(Desde);
        fechaHasta = fechaHoyMostrar(Hasta);
        //las cargo en el input
        $('#fechaDesdeFiltro').val(fechaDesdeInput);
        $('#fechaHastaFiltro').val(fechaHastaInput);
    }
    function completarResenias() {
        fechaDesde = $("#fechaDesdeFiltro").val();
        fechaHasta = $("#fechaHastaFiltro").val();
        $("#body").empty();
        $.ajax({
            type: 'Get',
            url: '/Api/Resenia/obtenerResenias?tipoCuenta=' + tipoCuenta + "&id=" + id + "&pag=" + pag + "&fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta,
            success: function (result) {
                cantidad = result.cantidad;
                var item = "";
                result.lista.forEach(function (data, index) {
                    item = item + "<div class='row'>";
                        item = item + "<div class='col-md-2'>";
                            item = item + "<span>"+data.nombreAutor+"</span>";
                            item = item + "<span>" + data.fechaAltaReseña.toString().split('T')[0] + "</span></br>";
                        item = item + "</div>";
                        item = item + "<div class='col-md-6'>";
                            item = item + "<span>" + data.descripcionResenia + "</span></br>";
                        item = item + "</div>";
                    item = item + "<div class='col-md-2'style='text-align:center;'><span>Puntuación</span></br><span>" + data.puntuacionResenia + "</span></div>";
                    item = item + "</div>";
                    item = item + "<div class='col-md-10' style='padding-left:0px;'>";
                    item = item + "<hr>";
                    item = item + "</div>";
                    item = item + "</div>";
                });
                
                $("#body").append(item);
                paginas();
            }
        });
    }
    function paginas() {
        var html = "<nav aria-label='...'>";
        html = html + "<ul class='pagination'>";
        var cantPag = 1;
        var resto = cantidad % 6;
        if (resto > 0) {
            cantPag = cantidad / 6 + 1;
        } else {
            cantPag = cantidad / 6;
        }
        
        for (var i = 1; i <= cantPag; i++) {
            if (i == pag) {
                html = html + "<li class='page-item active'><button class='page-link' id='pag" + i + "' onclick=cambiarPag(" + i +")>" + i + "</button></li>";
            } else {
                html = html + "<li class='page-item'><button class='page-link' id='pag" + i +"' onclick=cambiarPag("+i+")>" + i + "</button></li>";
            }                        
        }
        html = html + "</ul>";
        html = html + "</nav>";
        $("#body").append(html);
    }
    function cambiarPag(num) {
        pag = num;
        completarResenias();
    }
    function generarReporte() {
        fechaDesde = $("#fechaDesdeFiltro").val();
        fechaHasta = $("#fechaHastaFiltro").val();
        window.open("/Reportes/ReporteResenias?tipoCuenta=" + tipoCuenta + "&id=" + id + "&fechaDesde=" + fechaDesde + "&fechaHasta=" + fechaHasta, "Reporte de Reseñas");
    }
</script>
